[2019-08-11 10:10] fox1t opened #1 "Components specs"
Here are listed must-have components. The list will be expanded and improved over time. If a component depends on a 3rd party component, it must be wrapped it in a way that it could be replaced with no effort, if we want to change that dependency in the future: we need to expose our public API. Some dependency are still missing because we need to test some libraries before deciding.

Components we

[2019-08-11 21:11] jackcmeyer commented on #1
hospitalrun/hospitalrun-frontend#387 requested a dashboard like feature which will require the use of some graphs and charts.

Possible React libraries for charts/graphs:

* [ChartJs](https://github.com/jerairrest/react-chartjs-2)
* [Recharts](http://recharts.org/en-US/)
* [Victory](https://formidable.com/open-source/victory/gallery/)
* [react-vis](https://uber.github.io/react-vis/?r=m7)

[2019-08-12 17:22] lancerutkin commented on #1
One note on those libraries is that they're all fairly heavy for low bandwidth internet connections (see [bundlephobia.com](bundlephobia.com)), which is the same concern raised about socket.io.

I found something called [Frappe charts](https://frappe.io/charts) which is lighter and may be worth considering.

[2019-08-13 07:48] fox1t commented on #1
Ok, I think that the best way is to add always bundlephobia link, when suggesting libs. Can you please modify your comments?

[2019-08-14 12:57] lancerutkin commented on #1
A non-socket.io WebSocket option for the chat is [ws](https://www.npmjs.com/package/ws).
[bundlephobia](https://bundlephobia.com/result?p=ws@7.1.2)

[2019-08-20 01:26] jackcmeyer commented on #1
@fox1t I've updated my comments with bundlephobia links.

[2019-08-20 10:53] fox1t commented on #1
@jackcmeyer and @lancerutkin check the repo now. We decided to use [tsdx](https://github.com/palmerhq/tsdx) and it is one of the best devexperience I've ever seen!

[2019-08-20 22:00] jackcmeyer commented on #1
@fox1t does it make sense to break out each one of these components into an issue with specific requirements so the community can start tackling them?

[2019-08-22 19:30] jackcmeyer opened #3 "Charts Components"
## 🚀 Feature Proposal

Add components for the following:

- [ ] Bar Graph
- [ ] Line Graph
- [ ] Pie Chart

Charts should be based on [chart.js](https://www.chartjs.org/).

## Motivation

Charts and graphs are an integral part of displaying data to the end user. Having a graph components will reduce development time and maintain consistency between graphs.

## Example

HospitalRun/hospitalrun-fron

[2019-08-23 13:08] fox1t opened #4 "Advanced Medical Imaging Viewer"
## 🚀 Feature Proposal

We need an advanced viewer component.

## Motivation

Our users need to make all of they work inside HospitalRun. One of the most important task is the be able to open the most common medical file formats.
One of the most complete libs out there is https://github.com/OHIF/Viewers

We need to understand how to implement it as reusable component: as usual, we will wrap it insi

[2019-08-23 13:14] fox1t commented on #4
@jackcmeyer what do you think about this?

[2019-08-23 13:55] fox1t commented on #4
Some references could be find here: https://docs.ohif.org/deployment/#embedded-viewer

[2019-08-23 15:36] jackcmeyer commented on #4
https://docs.ohif.org/deployment/recipes/embedded-viewer.html. I think that this page will be helpful for us.

The one big concern that I had was the potential for conflicting dependencies described [here](https://docs.ohif.org/deployment/recipes/embedded-viewer.html#tips--tricks). However, according to the docs that can be alleviated by embedding this into an `iframe`.

Seems like the docs are pr

[2019-08-23 15:41] fox1t commented on #4
I found pretty of them. But the open health imaging foundation is somehow close to our ideas. The viewer is surely one of the most mature and they are supporting other core projects as https://github.com/dcmjs-org/dicomweb-server/ (yes, we will help dcmjs-org in making dicomweb-server, and they are using couchdb and fastfiy too!).
You can find other viewers [here](https://medevel.com/14-best-brows

[2019-08-24 11:25] dannyrb commented on #4
:wave: I'm one of the core maintainers over at OHIF and Cornerstonejs. I've helped integrate both as medical image viewing solutions in a number of applications through my consulting work with Radical Imaging.

More than happy to volunteer my time to assist with an integration when the time comes. Depending on your needs, the approach will change, but I'm sure we can accommodate your use cases ^_^

[2019-08-30 19:34] jackcmeyer opened #6 "Add testing library for React Components"
## 🚀 Feature Proposal

Add a library which allows developers to test their React components and prevent them from making commits that have a broken build.

## Motivation

It is crucial that the components are well tested so new commits do not break previous components.

## Example

* [Enzyme](https://airbnb.io/enzyme/)
* Pre-Commit Hooks

[2019-08-31 09:06] tehKapa opened #8 "yarn.lock causes build error"
## 🐛 Bug Report

Netlify needs _yarn.lock_ file to execute the commands `yarn install` and `yarn build`.
If you do not have a _yarn.lock_ file, buildbot will not install [yarn](https://www.netlify.com/docs/build-gotchas/#yarn). However, the yarn.lock file creates errors during the build stage.

## To Reproduce

Steps to reproduce the behavior:

1. Clone repos
2. Install all deps with `yarn install

[2019-08-31 10:35] tehKapa commented on #8
Fixed by [updating](https://github.com/HospitalRun/components/commit/3a4ca6d1b643d96ec8d6ac4c873883f6f1c484aa) react-spinners from 0.5.12 to 0.6.1

[2019-08-31 10:35] #8 closed

[2019-08-31 12:35] dannyrb commented on #6
@jackcmeyer do you want/have any CI commit requirements for coverage or passing tests?

[2019-09-03 08:33] tehKapa opened #9 "Updates README.md"
Rewrite Spinner example and add new examples for Graph components

[2019-09-03 13:36] #3 closed

[2019-09-03 15:08] jackcmeyer commented on #9
@tehKapa are there any options for automating documentation generation for components using tsdx.

I've used [react-docgen](https://github.com/reactjs/react-docgen) in the past, but I haven't tried it out with tsdx before.

cc @fox1t

[2019-09-03 15:12] tehKapa commented on #9
@jackcmeyer green-light :traffic_light:

[2019-09-05 19:17] #9 closed

[2019-09-13 19:14] tehKapa opened #16 "Adds Coveralls"
## 🚀 Feature Proposal

Adds [Coveralls](https://coveralls.io) for continuous test coverage.

[2019-09-13 19:15] tehKapa commented on #16
Installation [reference](https://node-tap.org/docs/coverage/#travis-ci-and-coverallsio-integration)

[2019-09-13 19:17] tehKapa opened #17 "Changelog is not rendered correctly in the Release tab"
## 🐛 Bug Report

The changelog markdown is not rendered correctly in the Release tab

![Screenshot 2019-09-17 at 10 24 04](https://user-images.githubusercontent.com/6388707/65024509-4e337500-d935-11e9-9e52-e52afb575b65.png)

[2019-09-13 20:18] tehKapa commented on #17
It could be caused by a problem with the file CHANGELOG.md somehow corrupted.

Maybe, we can delete it #18

[2019-09-14 09:57] #16 closed

[2019-09-14 17:57] jackcmeyer opened #19 "Button Components"
## 🚀 Feature Proposal

Add two different type of button components.

1. Button (a button that has a label and optionally an icon)
2. IconButton (a button that only has an icon).

## Motivation

Buttons are a core component that should be standardized across the project.

## Example

Submitting forms.

[2019-09-14 17:58] jackcmeyer opened #20 "Text Box component"
## 🚀 Feature Proposal

Add a Text Box component to the components libraries.

## Motivation

Text boxes are a core input mechanism. Text boxes are used to enter small bits of text like first and last names.

## Example

First and last names for creating a new patient.

[2019-09-14 18:02] jackcmeyer opened #21 "Breadcrumb"
## 🚀 Feature Proposal

Breadcrumbs help determine the user's current location in the application and also assists in navigation.

## Motivation

Ease the use in navigation and knowing the context of the current location in the application.

## Example

Home/Patients/View Patient

[2019-09-14 18:04] jackcmeyer commented on #21
https://react-bootstrap.github.io/components/breadcrumb/.

react-bootstrap has a built in breadcrumb library that we will probably wrap. However, we will have to figure out a way to seamlessly integrate with whatever routing library that we use (I assume react-router).

react-bootstrap defines links as an `href` attribute which would reload the application if clicked.

[2019-09-14 18:06] jackcmeyer opened #22 "Badges"
## 🚀 Feature Proposal

Add badges as part of the component library.

## Motivation

Badges are a way of quickly displaying information to the user by differentiating its styling, coloring, and formatting from the rest of the surrounding text.

## Example

Displaying the current status of an appointment.

[2019-09-14 18:14] jackcmeyer opened #23 "Calendar"
## 🚀 Feature Proposal

Add a calendar to the components library.

## Motivation

Calendars are used to display information that needs to be organized by day, week, or month.

## Example

Displaying a doctor's schedule for the day.

Calendar should be able to be viewed in agenda view, day view, week view, month view.

## Potential Options
* [react-big-calendar](https://bundlephobia.com/result?p=rea

[2019-09-14 18:18] jackcmeyer opened #24 "Tabs and Tab Items"
## 🚀 Feature Proposal

Add tabs and tab items to the component library.

## Motivation

Tabs and Tab Items are an organization technique to group information so the page does not become cluttered.

## Example

When viewing patient details, there might be information such as personal information, appointments, diagnoses, and billing information. These should be in their own tab so the page does not

[2019-09-14 18:19] jackcmeyer commented on #24
Depending on how we want routing to specific tabs to work (i.e. should a route such as patient/:id/appointments load the patient page with the default tab or the patient page loaded on the appointments tab) we may have to figure out the best way to integrate with a routing library.

[2019-09-14 18:34] jackcmeyer opened #25 "Navbar"
## 🚀 Feature Proposal

Add Navbar as component in the component library.

## Motivation

Navbars are core to navigation in the application.

## Example

Navbar at the top of the page.

## Relevant Links
https://react-bootstrap.github.io/components/navbar/

[2019-09-14 18:37] jackcmeyer opened #26 "Image Viewer"
## 🚀 Feature Proposal

Add a component for images in the component library.

## Motivation

Viewing images is necessary for applications.

## Example

Patient Profile Image

## Relevant Links
https://react-bootstrap.github.io/components/images/

[2019-09-14 18:40] jackcmeyer opened #27 "Modal"
# 🚀 Feature Proposal

Add a modal to the component library.

## Motivation

Modals are useful for displaying information, notifcations, or anything that needs to be displayed above the page.

## Example

Confirmations

## Relevant Links
https://react-bootstrap.github.io/components/modal/

[2019-09-14 18:42] jackcmeyer opened #28 "Tables"
## 🚀 Feature Proposal

Tables are used to display lists of information in an organized way.

A table should be able to:

- [ ] pagination
- [ ] fuzzy search
- [ ] searchable columns
- [ ] sortablecontent
- [ ] custom column actions
- [ ] injectable behaviors
- [ ] inline row details

## Motivation

Tables are core to information displaying.

## Example

Listing patients, appointments, diagnoses,

[2019-09-14 18:50] jackcmeyer opened #29 "Rich Text Editor"
## 🚀 Feature Proposal

Add a rich text editor as a component.

## Motivation

Rich text editors are used when there is a need for formatted text content.

## Example

Patient Notes

## Relevant Links
* [tinymce](https://bundlephobia.com/result?p=@tinymce/tinymce-react@3.3.0)
* [react-quill](react-quill@1.3.3)
* [draft-js](https://bundlephobia.com/result?p=draft-js@0.11.0)
* [slate](https://bundlep

[2019-09-14 18:52] jackcmeyer opened #30 "Alert"
## 🚀 Feature Proposal

Add alerts to the component library.

## Motivation

Alerts are used to alert the user to something that is going on.

## Example

Success messages, error messages, etc.

## Relevant Links
https://react-bootstrap.github.io/components/alerts/

[2019-09-14 18:55] jackcmeyer opened #31 "Video Player"
## 🚀 Feature Proposal

Add a video player component to the library.

## Motivation

Video players will be used to play videos.

## Example

Video notes

## Relevant Links
* [video-react](https://bundlephobia.com/result?p=video-react@0.14.1)

[2019-09-14 18:58] jackcmeyer opened #32 "Forms"
## 🚀 Feature Proposal

Add forms to the component library.

## Motivation

Forms are used to enter information.

## Example

Creating a new patient.

## Relevant Links
* (formik)[https://bundlephobia.com/result?p=formik@1.5.8]

[2019-09-14 19:02] jackcmeyer opened #33 "Text Field"
## 🚀 Feature Proposal

Add text field to the component library.

## Motivation

Text fields are used to enter multi-line plain text.

## Example

Appointment description.

[2019-09-16 01:30] jackcmeyer opened #34 "Date and Time Picker"
## 🚀 Feature Proposal

Add a date and time picker to the components library.

## Motivation

Date and Time pickers are a common method for entering dates and times into a form. Our date and time picker must support different formats of dates/times and must support entering the date/time via keyboard or the picker.

## Example

Start/End time of an appointment.

[2019-09-16 01:33] jackcmeyer opened #35 "Themeing"
## 🚀 Feature Proposal

Add a way to for a user of this component library to use a "theme".

## Motivation

Easily change characteristics about styling across components.

[2019-09-16 08:52] fox1t commented on #35
This feature is important for HospitalRun customization by final hospitals (white-labeling).

[2019-09-16 13:35] jackcmeyer commented on #35
@fox1t are you suggesting that we will need a page in the tool to "build your theme" for hospital administrators so that they can use their branding?

[2019-09-16 13:55] fox1t commented on #35
For the first release, we can just have docs saying "which css" to modify.

[2019-09-16 18:47] jackcmeyer commented on #35
Ideally, I'm thinking Styled Components + SCSS.

Here is a link to make that happen: https://medium.com/styled-components/getting-sassy-with-sass-styled-theme-9a375cfb78e8

What do you think @fox1t?

[2019-09-17 08:25] tehKapa commented on #17
@jackcmeyer do you have any ideas?

[2019-09-17 12:19] jackcmeyer commented on #17
I don’t. Maybe a syntax error in the markdown than gets generated? I can take a look later.

[2019-09-17 13:40] tehKapa commented on #17
@jackcmeyer got it. I'll create a PR as soon as I can.

[2019-09-17 17:01] #17 closed

[2019-09-17 21:03] tehKapa opened #39 "Remove gitmoji to improve CI pipeline"
## 💥 Regression Report

Restore the semantic-release without the assistance of Gitmoji.
Repository to use as a reference: https://github.com/tehKapa/testone

#### New devDependencies will be:

- @commitlint/cli
-  @commitlint/config-conventional
-  @commitlint/prompt
-   @semantic-release/changelog
-   @semantic-release/commit-analyzer
-   @semantic-release/git
-   @semantic-release/github
-   @se

[2019-09-18 09:14] #39 closed

[2019-09-22 10:24] tehKapa opened #43 "Could not resolve entry module (node_modules/@hospitalrun/components/dist/components.esm.js)"
## 🐛 Bug Report

Using the [Pika CI/CD](https://www.pika.dev/packages/@hospitalrun/components/cdn
), @fox1t noticed a problem with the installation of the component.

[code]

[2019-09-23 09:49] #43 closed

[2019-09-24 15:50] jackcmeyer commented on #6
@fox1t I plan to add Enzyme to help us test with components and refactor existing tests to use it. Is this ok with you?

[2019-09-25 14:18] #6 closed

[2019-09-26 07:29] tehKapa commented on #35
@jackcmeyer I'd pass on this part of the theme. It will be a professional app, and the important thing is that there are logics of "**accessibility**" and compatibility with "**slow and outdated systems**" (here in Italy, for example, it is necessary to be used in a public health environment). At this stage, I would like to focus on two different themes: one daily and one nightly, but developed by

[2019-09-26 14:20] jackcmeyer commented on #35
@tehKapa I agree with what you are saying. However, this issue is more about themeing for the HospitalRun theme. Essentially, the idea is to define a bunch of scss variables such as color-success, color-primary, background-color, etc so each component can have consistent coloring and styling. It is NOT functionality to allow for users to choose their own color scheme. Does that make sense?

[2019-09-26 14:28] jackcmeyer opened #47 "Typography"
## 🚀 Feature Proposal

Add Typography components to the library.

## Motivation

Typography will allow for consistent text and text styling across the application. This will also allow for differences between contextual meaning and styling. (i.e. the element represents an `<h1>` tag on the page, but we want to style it like an `<h3>` tag).

## Example
Any page with text.

https://getbootstrap.com/

[2019-09-26 14:29] jackcmeyer commented on #35
This issue may take a little bit of research to accomplish. This may be a good starting point: https://getbootstrap.com/docs/4.0/content/typography/

[2019-09-26 14:30] tehKapa commented on #35
Ok! Thanks for explaining.
So, something like a variable.scss file with _variables_ like
[code]
these?

[2019-09-26 14:32] jackcmeyer commented on #35
@tehKapa you got it!

This will allow us to globally change colors with one variable change (or at least that's the goal).

[2019-09-26 14:33] fox1t commented on #47
Good point @jackcmeyer and here I want @StefanoMiC 's point of view.

[2019-09-26 15:14] jackcmeyer commented on #35
@StefanoMiC @tehKapa @fox1t

I'm no designer, but here might be a good starting point for colors:

[code]

I just imported the pallete into a tool http://colormind.io/bootstrap/ and then used https://themestr.app/theme to help build the bootstrap colors.

[2019-09-27 07:38] tehKapa commented on #35
Great tool! Here are the "official" [colors](https://github.com/HospitalRun/design#color-palette)

[2019-09-27 09:06] StefanoMiC commented on #35
@jackcmeyer pretty nice tool!
I'm currently working on the interface redesign, so a new palette is going to surface from that process and will be added to the project as well as the mockup views.

I completely agree with the need to have themeing capabilities, we should leaverage the themeing functionality of react-bootstrap as a starting point for sure.

[2019-09-27 12:32] jackcmeyer commented on #35
@StefanoMiC excited to see what you come up with!

[2019-09-27 15:49] #19 closed

[2019-09-30 13:25] #22 closed

[2019-10-02 10:38] fox1t opened #55 "Netlify autodeploy stoped working"
## 💥 Regression Report

Netlify autodeploy feature was working previously and now suddenly stopped to build.
https://app.netlify.com/sites/hospitalrun/deploys/5d93ad309e2585000cb0da45

## To Reproduce

Steps to reproduce the behavior: Run build-storybook in CI/CD environment.

## Expected behavior

Autodeploy the storybook on Netlify.

## Your Environment
CI/CD

[2019-10-03 02:04] Edsonzhu commented on #25
Hello, this is my first time on a open source project and would like to help on this issue. Can you guide me by what should I read and how you want the navBar component (is there any UI defined?)?

[2019-10-03 03:56] jackcmeyer commented on #25
Hi @Edsonzhu! Right now, we are just building out the components library so our NavBar will be a wrapper around react-bootstrap's. You can read the documentation on that [here](https://react-bootstrap.github.io/components/navbar/).

For now, we should aim to build the "building blocks" of the NavBar. A good test would be to see if we can use our components to build something similar to GitHub's na

[2019-10-04 02:23] jackcmeyer opened #58 "Dropdowns"
## 🚀 Feature Proposal

Add a Dropdown component to the library.

## Motivation

Dropdowns are useful to roll up like actions or secondary actions so those actions are out of the way of the rest of the UI.

## Example

Profile icon in the nav bar.

https://react-bootstrap.netlify.com/components/dropdowns

[2019-10-04 02:30] jackcmeyer opened #59 "Lists"
## 🚀 Feature Proposal

Add List component to the library.

## Motivation

List Component would be useful to display lists of information.

## Example

Displaying diagnoses of patients.

https://react-bootstrap.netlify.com/components/list-group

[2019-10-04 21:16] #55 closed

[2019-10-04 21:19] tehKapa opened #61 "Rewrite the readme to make it more explicit"
## 💬 Questions and Help

It is necessary to make more explicit the methods to contribute and the instructions to use the components in an external project

[2019-10-04 23:32] jackcmeyer opened #62 "Checkbox"
## 🚀 Feature Proposal

Add checkbox to the component library.

## Motivation

Check boxes are an important part of forms.

## Example

Whether or not a patient has a certain characteristic that is either true or false.

https://react-bootstrap.netlify.com/components/forms/#forms-form-check

## Related
#32

[2019-10-04 23:34] jackcmeyer opened #63 "Radio buttons"
## 🚀 Feature Proposal

Add radio buttons to the component library

## Motivation

Radio button are used to select an element in a list where only one can be selected.

## Example

Patient Type

https://react-bootstrap.netlify.com/components/forms/#forms-custom-checkboxes-and-radios

## Related
#32

[2019-10-04 23:38] jackcmeyer opened #64 "Select"
## 🚀 Feature Proposal

Add a Select component to the library.

## Motivation

Selects are used to select an element from a list when there are too many for radio/check boxes.

## Example

Selecting an inventory type.

https://react-bootstrap.netlify.com/components/forms/#forms-controls

## Related
#32

[2019-10-04 23:45] jackcmeyer opened #65 "Labels"
## 🚀 Feature Proposal

Add Labels to the component library.

## Motivation

Used to display text.

## Example

Labeling a form field.

## Related
#32

[2019-10-04 23:48] jackcmeyer opened #66 "Add form validation styling for form fields"
## 🚀 Feature Proposal

To display a form validation message/styling should be consistent across all form controls.

## Motivation

Displaying success/errors for fields.

## Example

Form validation.

https://react-bootstrap.netlify.com/components/forms/#forms-validation-native

## Related
#62 #63 #64 #65 #33 #20

[2019-10-06 10:16] fox1t commented on #66
@irvelervel Can you provide any direction/best practice about this topic?

[2019-10-06 10:20] #33 closed

[2019-10-06 11:04] multicolaure commented on #63
Hi !
I wish to help with implementing this issue. Can someone assign me to it?
I will start in the meantime.
Cheers

[2019-10-06 11:16] tehKapa commented on #63
@multicolaure done :)
Happy coding

[2019-10-06 23:41] jackcmeyer opened #69 "Switch"
## 🚀 Feature Proposal

Add a Switch component to the library.

## Motivation

Switches are a simple UI technique to turn something on or off.

## Example

Make an appointment an all day appointment.

[2019-10-12 08:30] danielbollom commented on #20
@jackcmeyer I'd be start on this one if that's okay? :) Are there any specific requirements or just a fairly standard, reusable text field?

[2019-10-12 09:33] #30 closed

[2019-10-12 11:18] multicolaure commented on #64
I'd like to help on this one. Can someone assign me to it?
Thanks

[2019-10-12 11:23] tehKapa commented on #64
Done @multicolaure. Good work and thanks for your contribution! ;)

[2019-10-13 04:39] Edsonzhu commented on #58
Can you assign me?

[2019-10-13 08:15] tehKapa commented on #58
Done!

[2019-10-13 17:26] #20 closed

[2019-10-13 18:15] #63 closed

[2019-10-14 07:40] #25 closed

[2019-10-14 07:59] fox1t commented on #28
@irvelervel I think we can start discussing about tables. Let's find the best component lib to start from. Some of the features we need are server side pagination, filtering, sorting and probabily inline editing. We need to support advanced filters, so we can express all of the possibilities of https://github.com/fox1t/qs-to-mongo

[2019-10-15 22:15] danielbollom commented on #29
I'd be happy to start working on this component if it's still open?

I was thinking TinyMCE might be the best option to wrap - it's the lightest in terms of bundle size of the options above, and has a fairly extensive API to get what we need from it :)

[2019-10-16 01:12] jackcmeyer commented on #29
@danielbollom the issues is all yours! I've assigned the issue to you.

[2019-10-16 08:11] fox1t commented on #29
I agree that TinyMCE is the best choice for us. In its last version, it is easy to use and powerful enough to handle all of the our use cases.

[2019-10-16 09:03] #62 closed

[2019-10-19 23:19] danielbollom commented on #29
Hey guys! I was working on this one earlier and I was wondering which functionality/plugins would be required for the editor?

I was thinking:

- undo/redo
- font size/style
- heading/paragraph formatting
- bold/italic/underline text
- sub/super text
- highlight text
- text align (right, left, centre, justify)
- list (bullets, numbered)
- indent/outdent
- image embed
- table
- link
- special chara

[2019-10-20 01:18] jackcmeyer commented on #29
@danielbollom I think this is a sufficient list of features for now!

[2019-10-20 09:17] fox1t commented on #29
I want to point out that we need an extra care on image embed feature. We don't really want to allow our users to embed patient images, MRIs and so on. The software will have already a place to store patient images. I think it would be nice to let them "include" an image in text: however also this could be problematic, since the images will be stored encrypted using pub/priv keys.

[2019-10-21 06:55] danielbollom commented on #29
@fox1t the default behaviour for tinyMCE gives the user an option to include a link to an image which is sets as the source for an image tag in the output. Would this be okay, or will it be easier to remove the image functionality for the moment? It's very straightforward to include/exclude at a later point if required.

[2019-10-21 07:35] #64 closed

[2019-10-21 07:40] fox1t commented on #29
I think we can remove the image functionality for the moment. We will surely return to it in the near future. :)

[2019-10-21 09:50] danielbollom commented on #29
Sounds great! :) I should time to get a pull request ready for this one in a day or two 👍

[2019-10-24 22:14] gqycloud commented on #65
@jackcmeyer can you assign this one to me please, thanks!

[2019-11-03 11:33] B-Taylor123 commented on #32
Hi, I'd be interested in picking this issue up!

I'm just wondering if it might be worth separating the Form and FormBuilder components into their respective issues? As they seem like two very distinct components and chunks of work :)

[2019-11-03 11:55] tehKapa commented on #32
@irvelervel what do you think?

[2019-11-03 15:37] irvelervel commented on #32
Hello everyone. I already did a pretty significant amount of work tooling a form generator system in the past, complete with autobuilding-from-schema features; the only problem is that I built it upon redux-form (https://github.com/redux-form/redux-form) which now seems to be much less relevant than it was at the time. Me and the rest of the core team agree that formik (https://github.com/jaredpal

[2019-11-03 19:46] B-Taylor123 commented on #32
Ahhh, thanks for clearing that up @irvelervel  :) I’d still like to pick this task up if that’s cool with everyone?

[2019-11-07 20:02] valernyx commented on #59
I would like to help out with this one, please :)

[2019-11-12 20:43] #27 closed

[2019-11-15 09:18] #65 closed

[2019-11-15 17:47] gqycloud commented on #26
can I take this issue?

[2019-11-15 17:49] tehKapa commented on #26
@gqycloud it seems to have already been taken by another user. @jackcmeyer can you confirm?

[2019-11-15 17:52] jackcmeyer commented on #26
@tehkappa can confirm!

[2019-11-15 17:55] tehKapa commented on #26
Assigned to @adamdickinson

[2019-11-16 07:44] #26 closed

[2019-11-16 17:27] gqycloud commented on #47
Can I have this issue?

[2019-11-16 17:37] jackcmeyer commented on #47
@gqycloud this has been assigned to you! excited to see what you come up with!

[2019-11-17 07:33] tehKapa commented on #47
What font will be used in the application?

[2019-11-18 19:17] tehKapa opened #95 "error TS2769: No overload matches this call"
## 🐛 Bug Report

TypeScript version 3.7 causes several build problems

## To Reproduce

To reproduce the problem just update the dependencies and launch a yarn build. Output will be as follows:

[code]

[2019-11-18 20:31] StIvEk commented on #58
@Edsonzhu Are you still working on this? I can help or take it if you have any problems.

[2019-11-19 10:43] tehKapa opened #106 "Update TypeScript 3.6.4 to 3.7.2"
## 🐛 Bug Report

To update TS, we have to wait [Pull Request](https://github.com/styleguidist/react-docgen-typescript/pull/221) for this [issue](https://github.com/styleguidist/react-docgen-typescript/issues/220) and a new version to be released.

[2019-11-19 10:54] #95 closed

[2019-11-19 11:23] #59 closed

[2019-11-19 18:37] irvelervel commented on #32
@B-Taylor123 really sorry for the late response. I apologize but I realized I want to take some time to inspect my old code and check all the features implemented at the time in order to have a clearer picture of the code portions we need to write from scratch. We are probably going to have an open talk about this: we'll be glad if you can be a part of it. Stay tuned ;)

[2019-11-19 19:47] irvelervel commented on #106
My PR was just merged :)

[2019-11-19 19:58] tehKapa commented on #106
Ok, we're waiting for the release of the new version

[2019-11-21 09:44] adamdickinson commented on #66
Happy to give this one a go! I'd like to follow React Bootstrap as a basis and try to help the look and feel as hospitalrun as possible. Is there a styleguide or any kind of branding guideline that I should lean on here?

[2019-11-21 21:12] #29 closed

[2019-11-22 13:46] tehKapa commented on #106
Dependency remains at version 1.15.1

[2019-11-22 15:02] tehKapa opened #113 "TypeError: domGlobals.window.matchMedia is not a function (tinymce 5.1.2)"
## 🐛 Bug Report

Version 5.1.2 of tinymce creates a test error.
Reference PR #112 and #93

[code]

## Your Environment

- *ci*: Travis, Azure Pipeline, GitHub
- *node version*: 12
- *os*: Linux, macOS

[2019-11-23 11:01] tehKapa opened #116 "Deprecated devDeps @types/storybook__react@5.2.0"
## 🐛 Bug Report

No more need to use @types/storybook__react. storybook__react provides its own type definitions, so we don't need this installed.

Related to #115

[code]

## Your Environment

- *node version*: 12
- *os*: Mac

[2019-11-23 11:13] #116 closed

[2019-11-23 12:02] StIvEk commented on #113
I have a fix for this

[2019-11-23 14:00] #113 closed

[2019-11-23 20:30] StIvEk commented on #31
I can take this one.

[2019-11-24 15:09] fatahn commented on #21
@jackcmeyer i would like to  take on this issue

[2019-11-25 03:55] jackcmeyer opened #118 "Layout components"
## 🚀 Feature Proposal

Create Layout components such as Column, Row, and Container

## Motivation

Need a way to have standardized layouts.

## Example

Creating layouts.

[2019-11-25 12:34] adamdickinson commented on #24
I've tackled this same issue very recently with another project of mine.

**Option 1:** Use `Tab`s like `Button`s. Something along these lines:

[code]

This `Tab` component is a nice core component that can be used in situations that require customisation. They are almost entirely unopinionated, so can be customised using standard React processes.

To simplify things, and to cover the most common

[2019-11-26 03:25] jackcmeyer commented on #24
I like the simple interface that Option 1 provides, especially in regards to navigation.

I think as long as we can match the bootstrap sytling, option 1 would be the preferred route.

@adamdickinson would you like this issue assigned to you?

[2019-11-26 08:13] #106 closed

[2019-11-26 08:31] fox1t commented on #24
@adamdickinson thanks for providing your feedback. I am also "voting" for the option 1. :)

[2019-11-26 11:07] adamdickinson commented on #24
@jackcmeyer absolutely, happy to tackle this one!

[2019-11-26 22:18] martinrradev commented on #34
I can take this one.

[2019-11-27 00:31] jackcmeyer commented on #34
@martinrradev this has been assigned to you!

[2019-11-27 06:05] StIvEk commented on #118
I would like to take this

[2019-11-27 12:40] jackcmeyer commented on #118
@StIvEk This has been assigned to you!

[2019-11-27 13:09] #31 closed

[2019-11-29 16:52] jackcmeyer opened #131 "Navbar Enhancements"
## 🚀 Feature Proposal

* Show the pointer cursor when hovering over the brand icon in the nav bar
* Be able to support internationalization of the text for the search button and search text box placeholder.

Related to #25

[2019-11-30 08:46] #118 closed

[2019-11-30 09:30] #34 closed

[2019-12-03 03:20] jackcmeyer opened #135 "Add icon for dashboard in icon set."
## 🚀 Feature Proposal

Add an icon that represents the dashboard for use near navigation components.

[2019-12-04 03:16] jackcmeyer opened #137 "Add ability to mark a Label required"
## 🚀 Feature Proposal

Add an ability to mark a label required.

A new prop called `isRequired` should be added to the label component. When true, there should be a red * added on the right hand side of the label. When false, no red star should be shown.

Screen readers should be able to read the red star with some sort of alternative text so users using assistive technology can understand the sta

[2019-12-04 03:25] jackcmeyer opened #138 "Add Panel Component"
## 🚀 Feature Proposal

Add a Panel component to the component library.

The Panel component should support:
* An optional header
* A required body
* An optional footer
* Ability to be collapsible

## Motivation

Grouping of like items.

## Example

Please provide an example for how this feature would be used.
![image](https://user-images.githubusercontent.com/18731800/70110057-5d13f480-1613-11ea-9

[2019-12-04 04:27] neilong31 commented on #138
Hello @jackcmeyer ! I'd love to try and give this a go!

[2019-12-04 13:53] jackcmeyer commented on #138
@neilong31 I've assigned this to you!

[2019-12-05 22:49] varshannagarajan commented on #137
Hi I would like to work on this. If that's ok?

[2019-12-05 23:50] ocBruno commented on #137
Hey I've almost finished this one and suggested a custom title message for the acessibility which i'm not sure will be approved. Soon I will create a pull request for this feature if you want to check it out and suggest any improvements or changes!

[2019-12-06 23:13] neilong31 commented on #138
Hey! So I'm having issues trying to commit. When I try to commit the linter goes and tries to "fix" the code but actually goes in breaks it. You can see this below.

![image](https://user-images.githubusercontent.com/31993023/70362740-03e6d380-1854-11ea-9140-0f56b5057014.png)

But when I run npm run lint it seems fine and shows me this.

![image](https://user-images.githubusercontent.com/31993023/

[2019-12-06 23:16] neilong31 commented on #138
Also, I'm using rsuite's panel, which can be seen [here](https://rsuitejs.com/en/components/panel#Card).
I'm using this dependency since the new version of [bootstrap](https://react-bootstrap.netlify.com/components/alerts/) that you guys are using right now doesn't have a panel component currently. Maybe, in future updates?

[2019-12-06 23:27] jackcmeyer commented on #138
Hey @neilong31.

Could you open a pull request with the "broken" code? We can collaborate on fixing it there.

To get around the linting issues, you can get around the commit validations by adding `--no-verify` to the commit.

For example, you can commit like:

`git commit -m "feat(panels): adds panel component" --no-verify`.

Once you've opened the pull request, I'd love to help debug this issue.

[2019-12-06 23:30] jackcmeyer commented on #138
@neilong31

Also, Bootstrap v4 removed the "panel" component, however, the same functionality can be achieved through a card.

I think that we would be able to make a similar interface to to the existing panel for our component; but then have it be backed by the bootstrap card component.

See the following: https://react-bootstrap.netlify.com/components/cards/#header-and-footer.

[2019-12-06 23:49] neilong31 commented on #138
I'll definitely take a look at the card workaround. To be honest, rsuite's panel's aren't working as they should. I'm not sure if I'm not doing it correctly or its a rsuite thing, but as you can see below it should show a border, but nothing pops up.

![image](https://user-images.githubusercontent.com/31993023/70364008-ba4cb780-1858-11ea-9ac2-90898b92a872.png)

I'm also a little newer to React so

[2019-12-07 12:13] #135 closed

[2019-12-12 03:13] ocBruno commented on #32
Not sure if this has already been discussed and decided upon but if not I am also interested in helping out with this form builder if any help is needed.
I was taking a look at react-final-form as a substitute for formik as its smaller, only has the final-form dependency which itself has zero dependencies. It might have all the needed functionalities and serve as a better substitute for the form c

[2019-12-13 10:15] fox1t commented on #32
Hi @ocBruno, we analyze almost everyone form component and we decided to go with Formik. We like its philosophy and flexibility. We will try to use it as first choice and if it won't work for our needs we can re-evaluate react-final-form.
As usual, every contribution is welcomed! Thanks :)

[2019-12-13 17:24] ocBruno commented on #58
Hey @Edsonzhu and @StIvEk!
I saw this one was inactive so I'm starting this but if either of you want to help out or take it over I can help out with another issue!

[2019-12-18 11:37] #21 closed

[2019-12-19 03:57] jackcmeyer opened #155 "Add ability to add custom css classes/styles to all components"
## 🚀 Feature Proposal

Add ability to add custom styles to components via `className` and `style` props.

All components should be able to have `className` and `style`.

For components that wrap multiple components there should be the ability to style both components.

## Motivation

Styling is important to ensure the look and feel is correct.

[2019-12-19 03:59] jackcmeyer opened #156 "DateTimePicker input box should look like bootstrap"
## 🚀 Feature Proposal

The DateTimePicker input box should look like a bootstrap input box. Right now, it does not match the other styling of the input boxes.

It is also does not align properly when placed inside a form group (all elements display in the same line).

## Motivation

Formatting must remain consistent.

## Example

DateTimePicker in create new patient form.

# Related Issues
#34

[2019-12-19 18:26] CVVPK commented on #155
Hi, I'd love to contribute to this if that's ok. It'd be my first time working on this project, but I took a look around to get an idea of the process. I'd like to make sure I understand what's needed to solve this issue, feel free to correct me if this is wrong:

1) Add `className` and `style` props to each component.
2) Add a story and test for `className` per  component.
3) Add a story and test

[2019-12-19 23:42] jackcmeyer commented on #155
You got it @CVVPK! I've assigned this to you.

[2019-12-20 09:57] fox1t commented on #155
Hi @CVVPK and thanks for contributing!
All of your assumptions are correct. For the 4th point, you just have to comment the code in the right way and it will be generated for you. Just take a look at the comments that are already there. :)

[2019-12-21 17:40] #156 closed

[2019-12-24 01:36] CVVPK commented on #155
@jackcmeyer The number of changes is getting pretty massive and I was wondering if you'd prefer I submit individual PRs or everything in one big chunk. Here's a status report of my progress so far:

Completed:
- [x] Alert
- [x] Badge
- [x] Breadcrumb
- [x] BreadcrumbItem
- [x] Button
- [x] Icon
- [x] Label
- [x] List
- [x] ListItem
- [x] Pill
- [x] Radio
- [x] Select
- [x] Switch
- [x] TextField
-

[2019-12-25 18:06] jackcmeyer commented on #155
@CVVPK feel free to open as many or few pull requests as you want! Whatever is easiest for you!

[2019-12-29 02:58] MatthewDorner commented on #138
I took a look at doing this with react-bootstrap card. How would we want the header to look? In the example image, the "Panel title" part would actually be the `Card.Header`. (If you use `Card.Title`, it renders that title inside the card body where you have "panel content")

So would we want an optional header to be rendered inside that header underneath the title, or inside the card body but sep

[2019-12-29 04:13] jackcmeyer commented on #138
@MatthewDorner I’m thinking we want it rendered in the Header using `Card.Header`.

Then the body can be a node which can render any react node.

What do you think?

[2019-12-29 04:33] MatthewDorner commented on #138
I guess the question is whether there should be a `title` string prop that's separate from `header` prop, or if there should just be one prop and whether that one should be a string or a `ReactNode`.

Most of the time, header will just contain a title string, and if you have to pass in the title as a `ReactNode`, it's more difficult to use. On the other hand it may need to be able to render more c

[2019-12-29 19:21] jackcmeyer commented on #138
@MattewDorner I agree. We can keep it simple for now until a more complicated use case arises.

[2019-12-29 22:03] MatthewDorner commented on #138
Styling will be different from the example. Color variants can be either the entire panel/card https://react-bootstrap.netlify.com/components/cards/#background-color and make text white on some of them, or just the border https://react-bootstrap.netlify.com/components/cards/#border-color, can't see a way to set the header and border but leave body white. Any preference?

[2019-12-30 00:57] jackcmeyer commented on #138
My preference is to do just the border.

[2019-12-30 09:23] #131 closed

[2019-12-30 09:24] #23 closed

[2019-12-30 09:27] #155 closed

[2019-12-30 09:29] #137 closed

[2019-12-30 09:39] fox1t opened #175 "Toaster stops working on storybook"
## 🐛 Bug Report

After navigating to toaster info/warning/error, the toaster stops working. The only way to fix it is to cold refresh (F5) the whole storybook.

## Expected behavior

The toaster must work in any case.

Paste the results here:

[2019-12-31 01:24] jackcmeyer opened #178 "make `onClick` optional in `NavLink`"
## 🚀 Feature Proposal

Make `onClick` prop disabled in `NavLink`

## Motivation

A nav link should not need to have an onClick handler. For example, dropdowns do not have an onClick handler.

## Example
Patients dropdown in navbar

## Related Issue
#25  #131

[2019-12-31 04:34] MatthewDorner commented on #24
I can help with this one.

[2019-12-31 09:34] #178 closed

[2020-01-01 02:02] MatthewDorner commented on #24
I think I will need some clarification. Which components are needed here? Just `Tab` (and/or possibly `NavTab`)? So the logic shown in Option 1 would be directly inside of whatever component needs to have tabs, and this task doesn't involve writing a `TabsGroup` component or something that encapsulates that logic?

[2020-01-01 05:12] jackcmeyer commented on #24
@MatthewDorner I *think* that we just need to have a component that shows the tabs part. The tab just needs the ability to have a label, active flag, disabled flag, and an onClick function.

The content that will be displayed will be handled by react router.

[2020-01-01 19:11] ocBruno commented on #66
Hey @adamdickinson I thought i'd give this a go since I saw it's been inactive but if you're still working on this give me a heads up!
I'm searching for validation best practices and will try to focus more on the usability and design while avoiding inserting too much logic inside the components.
If anyone has any best practices, suggestions, or any requests I'm always looking for improvements and

[2020-01-02 03:19] MatthewDorner commented on #35
This looks like it's about migrating from existing scss theme to styled-components. Starting from scratch, we wouldn't need scss at all (as styled-components can't read scss variables based on what it says in the article), the theme would just be an object defining values that are accessed via styled-components' `ThemeProvider`. So really we would just be using styled-components?

If I'm writing m

[2020-01-02 08:17] fox1t commented on #35
@MatthewDorner I agree 100% with you. We don't need scss or any other css preprocessor. We can go straight with styled-components. However it would be nice to discuss css-in-js options in a separate issue. Can you handle it?

[2020-01-02 08:31] #138 closed

[2020-01-02 09:00] fox1t opened #182 "Collapsible Panel missing hover pointer"
## 🐛 Bug Report

When hovering a the button that collapses the panel the default pointer is uses instead of index finger.

## To Reproduce
Test it on https://components.hospitalrun.io/?path=/story/panel--collapsed-collapsible-panel

## Expected behavior

When hovering the button index finger is used instead of default ones.
## Your Environment
- *os*: MacOS Catalina
- *browser*: latest Firefox and

[2020-01-02 10:02] #58 closed

[2020-01-02 14:25] fox1t commented on #175
It is working again thanks to rebuild and redeploy.

[2020-01-02 14:25] #175 closed

[2020-01-03 14:58] tehKapa opened #189 "Storybook fails to build"
## 🐛 Bug Report

Storybook fails to build after recent Typescript updates. On Netlify, however, it can build correctly.

[code]

## To Reproduce

Steps to reproduce the behaviour:
- Pull repository code
- Install deps with `yarn install`
- Run SB build script `yarn build-storybook

## Your Environment

- *node version*: 12
- *os*: Mac

[2020-01-03 19:07] alexpatow commented on #189
I saw this as well, but thought it was just my machine. running "yarn add -D @types/node@~12" fixed it.

[2020-01-03 19:46] #189 closed

[2020-01-03 19:46] tehKapa commented on #189
Good job @alexpatow!

[2020-01-03 20:38] #182 closed

[2020-01-04 01:32] MatthewDorner commented on #35
Researched and discussed with @jackcmeyer more, it seems like only using SASS is easier. Using a SASS file to overwrite the colors in Bootstrap will theme all the react-bootstrap stuff automatically, and custom components could use per-component SASS file imports with access to those variables.

styled-components can't access SASS variables, so there's no way to provide the theme colors directly t

[2020-01-07 01:08] ocBruno opened #199 "Breadcrumb Component"
## 🚀 Feature Proposal

A breadcrumb component

## Motivation

Requested component in hospitalrun frontend issue:
 - Add breadcrumbs #1690

## Example

Home > Patients > Patient 1 > Patient 1 Subpage

[2020-01-07 01:19] jackcmeyer commented on #199
breadcrumb components has already been created in issue #21 and pr #142

[2020-01-07 01:20] jackcmeyer commented on #199
Checkout the storybook here: https://components.hospitalrun.io/?path=/story/breadcrumbs--breadcrumb

[2020-01-07 01:38] #199 closed

[2020-01-07 05:00] jackcmeyer commented on #66
@ocBruno unless there is a compelling reason to not use the built in bootstrap validation styling, I think that we should use that.

[2020-01-07 20:44] ocBruno commented on #66
Ah pardon me I got offtrack, I was thinking of another issue considering how to handle the validation. If anyone has any suggestions or feedback on the program and grafic design send me a reply!

[2020-01-10 08:19] #35 closed

[2020-01-11 09:24] #24 closed

[2020-01-16 06:07] ocBruno commented on #28
I was going to start the boilerplate for this but wasn't sure if the discussion points had been decided upon so I tried doing a little research. I found two libraries that might be good solutions.

I thought we could use this react data grid library and handle the server side pagination ourselves,
https://adazzle.github.io/react-data-grid

.. or this react bootstrap table library which already has

[2020-01-17 04:01] jackcmeyer commented on #28
@ocBruno Any reason react-tables isn't in this list? I think this is what the team  had in mind for the table component. All thought, if you think there is a better solution, we'd love to hear it!

[2020-01-17 04:05] jackcmeyer opened #224 "Make Navbar mobile friendly"
## 🐛 Bug Report

The Navbar is not mobile friendly.

## To Reproduce

Render the Navbar on any mobile device

![image](https://user-images.githubusercontent.com/18731800/72583497-1a993500-38ac-11ea-9ad5-153d83154acf.png)

## Expected behavior

The Navbar options should be collapsed into a hamburger button. One the hamburger button is clicked, it should have a dropdown with all of the options that

[2020-01-17 04:07] jackcmeyer opened #225 "Navbar should support adding elements to the right of the search box."
## 🚀 Feature Proposal

Similarly to how the navbar allows items to the left of the search box, it should also allow items to the right of the navbar.

## Motivation

Profile Icons are Setting Gears are normally all the way to the right on the navbar. Our navbar should also support adding elements all of the way to the right.

## Example

Setting Gears and Profile Icons to the right of the search b

[2020-01-17 04:12] jackcmeyer opened #226 "Text Input component should support all types of inputs and open the correct keyboard on mobile"
## 🐛 Bug Report

The TextInput component does not allow for most of the input types that are possible for a text field. It should also use the correct keyboard when on mobile. For example, phone number should prompt a keyboard with only numbers.

## Expected behavior

The TextInput should be able to use any input type defined in the web standards.

https://developer.mozilla.org/en-US/docs/Web/HTML

[2020-01-17 04:28] ocBruno commented on #28
@jackcmeyer Thanks for the feedback! I'm not sure how I missed this one lol, it does seem to be the best solution!

I'm going to begin attempting to bootstrap this component with react tables and some of the basic necessary features.

I am still not too experienced with react and typescript but have been studying and I will post my progress in case anybody wants to give me some feedback or spot me

[2020-01-17 11:15] irvelervel commented on #28
Hello everyone. I made a wrapper some months ago for an older version of react-table (v6), which was more like a standard table library (pretty vast in functionality, especially in manual mode, and provided with a built-in UI), but for the new HospitalRun we was internally more oriented to go with the last version (v7) and I decided to scrap the older work. There are many reasons that pushed us fo

[2020-01-17 14:06] StefanoMiC commented on #47
currently settled on [Kanit](https://fonts.google.com/specimen/Kanit) for titles and [Montserrat](https://fonts.google.com/specimen/Montserrat) for body

[2020-01-17 15:21] ocBruno commented on #224
On mobile the navbar now falls into a hamburger and is laid out vertically when opened, please spot me on any mistakes or non-ideal design patterns and considerations are always welcome!

[2020-01-17 17:32] jackcmeyer commented on #224
@ocBruno please open a pull request so that we can review your changes.

[2020-01-17 19:17] ocBruno commented on #224
Ah ok, will do! Thanks!

[2020-01-18 00:18] ocBruno commented on #225
I have a WIP of this in which I decided on abstracting the NavLink to a NavItem interface that extends into NavBrand | NavLink | NavSearch | NavList interfaces.

navLinks becomes navItems and is an array of objects which has a type property that identify which type of navbar item it is, then I refactored the Navbar components for each of these situations.

Not sure if this was a good solution but

[2020-01-19 00:34] jackcmeyer opened #229 "Make collapsible panel collapse when clicking on the header"
## 🚀 Feature Proposal

Right now, to make the Collapsible Panel collapse you must click the carrot. It would be a nice user experience to also allow the header to be clicked on to make it collapse.

## Motivation

Easier user experience.

## Related Issues
#138

[2020-01-23 03:57] MatthewDorner commented on #226
I can work on this

[2020-01-24 19:31] ocBruno opened #238 "outdated addon-info leading to code styling bug"
## 🐛 Bug Report
Complete bug report and reproduction steps in detail in following issue >
https://github.com/storybookjs/storybook/issues/9618

According to one of the contributors,  addon-info is being superceded by addon-docs which resolves various bugs and is easier to maintain. I suggest we follow the suggestion and change the config to resolve this styling problem and reap of the other benefi

[2020-01-25 11:13] #226 closed

[2020-01-26 05:16] jackcmeyer opened #251 "Remove i8next logs from tests"
## 🐛 Bug Report

When tests run, the i8next library is logging lots of output to the console.

## To Reproduce

Run the test suite `yarn test`

## Expected behavior

To not have extraneous logs in the test suite.

## Your Environment

- *os*: Mac, Windows, Linux

[2020-01-26 06:13] jackcmeyer opened #242 "Allow styling in DateTimePicker component"
## 🐛 Bug Report

There is currently no way to style the DateTimePicker component as a user of it.

## To Reproduce

1. Import DateTimePicker
2. Try to use `className` prop
3. Get compile errors

OR

1. Import DateTimePicker
2. Try to use `style`
3. Get compile errors

## Expected behavior
I should be able to use the `style` and `className` props

[2020-01-29 13:18] #229 closed

[2020-01-30 04:21] jackcmeyer opened #252 "Remove extraneous console.log() statement"
**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instructions, your issue might be closed,
locked, and assigned the `missing discussion` label.**

## 🐛 Bug Report

There is an extraneous log statement in the Calendar component at https://github.com/HospitalRun/components/blob/7abda14f07c44a08f5294d2a7ff2c0

[2020-01-30 18:49] MatthewDorner opened #254 "Toasts don't have correct CSS when used in frontend"
## 🐛 Bug Report
Toasts (such as after adding a new Patient) do not have the correct theme colors applied when used in hospitalrun-frontend. This is probably an error in the build settings for the components library. Originally reported in https://github.com/HospitalRun/hospitalrun-frontend/issues/1764

## To Reproduce
Compare the Success toast from the components storybook https://components.hospi

[2020-01-30 20:45] #225 closed

[2020-01-31 03:49] jackcmeyer opened #255 "Provide mechanisms for callbacks on the date navigations in the calendar"
## 🚀 Feature Proposal

The calendar should provide props for callbacks on the date navigations in the Calendar.

## Motivation

With no mechanism of a callback for date navigation, there is no good way of loading appointments into the calendar. All appointments would have to be known at the time of render, which could cause performance issues.

## Example

[code]

## Technical Notes
https://fullca

[2020-01-31 08:40] #252 closed

[2020-02-01 01:12] ocBruno opened #258 "improve(build): decide between ts-loader and awesome-typescript-loader"
## 🚀 Feature Proposal

Compare speed, pros and cons of both packages and determine the ideal loader for the current and future state of the project.

## Motivation

According to npm trends ts-loader is around 5x more used than awesome-typescript-loader.
-https://www.npmtrends.com/awesome-typescript-loader-vs-ts-loader

According to the storybook team "We have had the best experience using awesome-

[2020-02-02 05:22] jackcmeyer opened #259 "`TextInput` and `TextField` do not change display when value gets updated"
## 🐛 Bug Report

`TextInput` and `TextField` are using `Form.Control` `defaultValue` prop instead of `value` prop which is causing the text boxes/fields to not update when their props change

## To Reproduce

Use the component as intended, update the `value` prop, see that the  `TextField` and `TextInput` do not update their display.

## Expected behavior

It should update the display.

[2020-02-02 09:22] #259 closed

[2020-02-02 09:26] andreykeycee commented on #224
Is that issue still open for work on it? I can make it

[2020-02-02 11:51] fox1t commented on #224
Hi @andreykeycee, yes it is still open. You can read some considerations about this here: https://github.com/HospitalRun/components/pull/227

Do you want to give a shot yourself to this?

[2020-02-02 11:57] andreykeycee commented on #224
@fox1t yeah, I want to, you can set me as assignee

[2020-02-02 12:13] fox1t commented on #224
@ocBruno What do you think? I am asking you because I know you were working on this. Are you still working on it or do you have any advices for @andreykeycee?

[2020-02-02 17:48] ocBruno commented on #224
Good day @andreykeycee @fox1t !

Feel free to pick this one up Andrey I had put it on hold considering I was facing some difficulties. You are welcome to get my pull request and use it however needed as I almost had this one finished, here are a couple considerations I have from working on this.
<hr/>
- I had added hamburger menu and made the navitems collapse accordingly, where I was having diffi

[2020-02-02 18:51] andreykeycee commented on #224
@ocBruno, thank you for the detailed response! I will take a look at your PR.

[2020-02-03 12:28] #251 closed

[2020-02-03 16:50] andreykeycee commented on #224
Hey guys, I just inspected those components, and how you work on it, and I wondering how carefully you're testing these, I like it! =) I have a couple of questions about it.
- Is there any checklist, what exactly I should cover with tests?
- Can I use Lodash to solve problems (I recognize you don't have it in dependencies)?

[2020-02-03 18:06] ocBruno commented on #224
Hey @andreykeycee !

- I think the best practice is cover the changes you're working on, so if the navbar collapses on mobile you have a test to make sure it hides the desktop navbar and displays the hamburger menu.

- Also raising coverage by including any missing tests is always great!

- I think depending on the use cases it might even be a good idea to inclue lodash to the dev dependencies but

[2020-02-09 10:21] andreykeycee commented on #224
Hey, guys, I fix the problem itself, now navbar acts responsive, and also you can hide items on mobiles, if you want, but seems like I face the same issue, as @ocBruno with testing, and couldn't find any ways to check CSS via Enzyme, So I completely unavailable to check is components hides on mobiles.
Maybe anyone knows how to do that?

[2020-02-09 15:27] ocBruno commented on #224
I was almost resorting to to using inline classes because if not mistaken I could find them with Enzyme but not sure if that is a good pattern/idea. If someone with more Enzyme/React testing knowledge could chime in !

[2020-02-09 17:34] jackcmeyer commented on #224
There are a few different ways you can go about it.

The `find` function takes CSS selectors so you can find an element or component css class.

Or, if you have already found the component or element you can do `component.prop(className)` to get the classes of the component.

Some links about testing screen size

https://stackoverflow.com/questions/46221210/jest-enzyme-how-to-test-at-different-vie

[2020-02-09 17:58] ocBruno commented on #224
Hey @andreykeycee!

@jackcmeyer left some good insights here, I believe if you still have trouble encountering with css rules and find, use classses for styling and try locating them by className!

I had closed my previous pull request after making all styles inline thinking I would be able to locate them with enzyme but debugging the wrappers always returned style={undefined}. As jack mentioned I

[2020-02-09 18:04] andreykeycee commented on #224
@jackcmeyer, @ocBruno  thank you very much guys, I will try to use it tomorrow. It will be very helpful to get to know how to unit test viewport via jest!

[2020-02-10 01:15] ocBruno commented on #224
@andreykeycee I'm not sure why I wasn't able to before but I am testing inline styling in PR #271 with the following code samples. Not sure if I was targeting the correct wrapper with `props()` but `console.log(wrapper.debug())` should help you solve the issue!
[code]

[2020-02-12 04:27] andreykeycee commented on #224
The problem is there are not any changes in class names while resizing the screen. Bootstrap only changes the styles in media queries and it seems like I'm not allowed to read the component's not-inline CSS.
Also `component.prop(className)` gives undefined every time, but I can test classes with `component.hasClass(expectableClass)`.
I already changing viewport via
https://stackoverflow.com/questi

[2020-02-12 19:02] ocBruno commented on #224
If anyone has more experience with jest and can shed some light on properly testing dom style properties it would be much appreciated! This issue held me and @andreykeycee back from finishing up this contribution :/
If no answers appear soon I will post on jest repo asking for some assistance!

[2020-02-15 04:11] #258 closed

[2020-02-15 04:17] ocBruno opened #278 "bug(fortawesome): treeshaking behavior not working"
## 🐛 Bug Report

After looking at the size of the build and the config I noticed the whole free-solid-svg-icons library was being imported. This bug is related to following issue as it is taking up space in the hospitalrun build

https://github.com/HospitalRun/hospitalrun-frontend/issues/1808

## Expected behavior

Only import necessary icons

- *node version*: 12.16.0
- *os*: Windows

[2020-02-15 19:23] tehKapa commented on #278
Some reference: https://fontawesome.com/how-to-use/with-the-api/other/tree-shaking

[2020-02-15 22:48] ocBruno commented on #278
Thanks for the reference, this is what I was using to debug but I attempted various methods with no success and stopped at the custom build configs. Not sure if anyone with rollup experience wants to tackle this..

[2020-02-19 05:30] westbrooklogan commented on #242
Hi, I'm Logan Westbrook and I'm looking for a good first issue to get started with so I was hoping to get assigned to this.

[2020-02-19 09:34] fox1t commented on #242
I've assigned this to you! Thanks for helping on this!

[2020-02-20 01:35] jackcmeyer opened #286 "Checkbox should have ability to set default value"
## 🐛 Bug Report

Checkbox should be able to be manually set to checked/unchecked with a default value so that the UI can properly convey information to a user.

## Expected behavior
Have a `checked` prop which controls whether or not the checkbox is checked.

## Related Issues
hospitalrun/hospitalrun#218

[2020-02-20 01:37] jackcmeyer opened #287 "Typeahead should have an `disabled` prop"
## 🐛 Bug Report

The typeahead component has no way of being set to disabled.

## Expected behavior

There should be an `disabled` prop that controls whether or not the typeahead is disabed.

## Technical Notes
https://www.npmjs.com/package/react-bootstrap-typeahead

## Related Issues
#204
https://github.com/HospitalRun/hospitalrun/issues/218

[2020-02-20 01:40] jackcmeyer opened #288 "Checkbox should use `isEditable` instead of `disabled`"
## 🐛 Bug Report

The way that Checkbox is enabled/disable is not consistent with other components.

## Expected behavior

Instead of a disabled prop, there should be a isEditable prop.

## Technical Notes
* This will be a breaking change.

## Related Issues
#62
https://github.com/HospitalRun/hospitalrun/issues/218

[2020-02-20 10:36] Alex-IS commented on #288
I would like to take this task.  Also, I guess that expected behavior should be:

 _Instead of a `disabled` prop, there should be a `isEditable` prop._

based on this comment https://github.com/HospitalRun/hospitalrun/issues/218#issuecomment-588557293

Looking forward to start contributing to this project

[2020-02-20 17:18] MatthewDorner commented on #287
I can take this.

[2020-02-20 18:20] jackcmeyer commented on #288
@Alex-IS welcome!  And yes you’re right, I flipped it. I’ve updated the issue.

[2020-02-20 23:37] jackcmeyer commented on #288
@Alex-IS. Forgive me, I really messed this one up.

The correct implementation should be a disabled prop, so that it's consistent with the rest of the components.

[2020-02-20 23:39] Alex-IS commented on #288
No problem :-) Should we implement wrapper component in frontend package?

[2020-02-20 23:41] jackcmeyer commented on #288
I think this could be a good idea.

[2020-02-20 23:43] Alex-IS commented on #288
Also, what is the reasoning about having wrapper components in frontend package? I'm trying to understand architecture decisions, so I can be of help

[2020-02-20 23:52] jackcmeyer commented on #288
The intention of the components repository is for it to be a spot where the most "primitive" components are defined. The advantage is that once the interfaces are defined, then these components can be updated independently without breaking any changes.

At the time, it felt like the "wrapper" components were not "primitive" enough to be defined in the components repository. However, I think it cou

[2020-02-21 00:43] #288 closed

[2020-02-21 07:00] #287 closed

[2020-02-23 09:11] oizuldan opened #296 "Toast enhancement"
## 🚀 Feature Proposal

Add a possibility to change toast's position within the screen. I have looked at the `react-toastify` library code and found a prop that does manage the position of the toast.

## Motivation

Currently, toast can be displayed on the top right corner, I think there is a need in versatility as we already have a task that demands the different position of the toast.

## Example

[2020-02-25 10:28] #296 closed

[2020-03-04 09:35] oizuldan commented on #286
can you assign me to this issue?

[2020-03-08 21:38] #28 closed

[2020-03-10 13:26] tehKapa commented on #286
Done

[2020-03-15 11:30] irvelervel opened #322 "Create a filterable select component"
## 🚀 Feature Proposal

To create a filterable select component, useful in table filters and forms.

## Motivation

Table text columns with lots of data need a faster way to filter results.
Options for the component need to be passed from outside.

## Example

Something like this --> [https://semantic-ui.com/modules/dropdown.html#search-selection](https://semantic-ui.com/modules/dropdown.html#searc

[2020-03-15 19:35] jackcmeyer commented on #322
React Bootstrap Typeahead supports this feature. This could just be an addition to our Type ahead component

http://ericgio.github.io/react-bootstrap-typeahead/#basic-example

[2020-03-15 22:48] #66 closed

[2020-03-16 03:28] martimfj opened #324 "Translation for Calendar component"
## 🚀 Feature Proposal

As stated [here](https://github.com/HospitalRun/hospitalrun-frontend/issues/1891#issue-578092184) the calendar component does not have a way to translate dates and some buttons at the frontend.

## Motivation

Improve internationalization and UX.

## Example

This could be done by editing how the Calendar in imported. The fullcalendar, which is used in this project, has loca

[2020-03-16 03:54] martimfj commented on #324
Dropdown menu also could be translated. The default text is `-- Choose --`

[2020-03-17 17:34] hmerzin commented on #322
I am very new here, but I have had positive experiences with [react select](https://github.com/JedWatson/react-select) as well.

[2020-03-17 19:43] tehKapa commented on #322
@hmerzin would you like to work on it? I'll give it to you.

[2020-03-17 19:44] hmerzin commented on #322
Heck yeah, thanks!

[2020-03-18 23:34] jackcmeyer opened #329 "Ability to define actions for a row in the table"
## 🚀 Feature Proposal

Right now, the table component is all data driven. However, often times in a table it is helpful to have a column that has buttons that allows me to do some action based on the data in that row.

## Motivation
* Patient search

## Example
* in the patient's search, I would like a button that allows me to go directly to the edit patient screen.

[2020-03-18 23:38] jackcmeyer opened #330 "Table rows should have the option to be clickable"
## 🚀 Feature Proposal

Often times, when using a table, I want to be able to click on the table row and have it do some action.

If the table row is clickable: I would expect the following:
* The hover icon to become a pointer rather than the default curor
* Clicking anywhere in the table row should execute the onClick function.

## Motivation
* Patient search

## Example
* When I click on the row

[2020-03-28 19:27] #286 closed

[2020-03-31 04:34] jackcmeyer opened #349 "Typeahead should allow `feedback` prop"
## 🚀 Feature Proposal

The `Typeahead` component should have a feedback prop that allows are user to give a message.

If the `isValid` prop is true, then the feedback message (if present) should appear and be red.

## Motivation

Form validations with

## Example
[code]

[2020-04-03 06:55] gokhaleprachi commented on #329
Could I work on this?

[2020-04-03 08:17] fox1t commented on #329
@gokhaleprachi assigned!

[2020-04-20 02:41] gokhaleprachi commented on #330
Can I work on this?

[2020-04-20 03:15] jackcmeyer commented on #330
go for it @gokhaleprachi!

[2020-04-24 20:03] MatthewDorner commented on #349
I can do this. I guess I should add `isValid` too.

[2020-04-24 21:33] jackcmeyer commented on #349
@MatthewDorner Sounds good! I've assigned this to you.

[2020-04-29 00:26] #349 closed

[2020-05-04 00:56] hristijankiko opened #389 "Implement autocomplete support for navbar search"
## 🚀 Feature Proposal

Currently, the `Navbar` component's search item does not support providing autocomplete options as the user types. The `Navbar` search item should be able to accept auto-complete items which provide suggestions as the user types.

I think this can be implemented using the `Typeahead` component and we can determine if we need to render a `FormControl` with text type or `Typea

[2020-05-04 00:59] hristijankiko commented on #389
I would like to work on this after it gets approved for development if that's okay.

[2020-05-04 01:04] jackcmeyer commented on #389
@hristijankiko This sounds like a good idea to me. Seems like there will not be a need for a regular text box in the search bar and we should replace it with the Typeahead, as you suggested.

I've assigned this issue to you.

[2020-05-04 01:07] jackcmeyer opened #390 "Navbar icon option should use Icon component rather than svgs"
## 🚀 Feature Proposal
When I use the icon option in the Navbar, I would prefer that it would allow me to use the HospitalRun Icons rather than an SVG.

The Icon option should support both rendering as a navbar link and a dropdown list.

## Motivation
Profile icon, settings, gear, etc.

[2020-05-05 00:13] #389 closed

[2020-05-11 01:31] MatthewDorner commented on #324
The `DatePicker` component we use from `react-datepicker` accepts a `locale` prop. If you pass `"P"` as the `dateFormat` prop, it will also format the date based on the locale. We just need to register all the locales we're going to use in `DateTimePicker.tsx` as has already been done for enUS and ptBR.

 https://github.com/Hacker0x01/react-datepicker/issues/1580.

![datetimepicker](https://user-i

[2020-05-12 22:50] jackcmeyer opened #411 "Change Table props"
The goal of this issue is to simplify the Table component. I propose that the Table component have the following props:

[code]

Couple of other points:
- The table should support generics.
- the backing implementation should be react-table.
- This will not be the final table implementation, there are other considerations such as sorting and paging that need to be handled, but will be accomplished

[2020-05-14 10:16] ahmad-reza619 commented on #411
Hi there, i would like to try contributing to this issue, but i'm still new to typescript, is there something i should know in typescript before contributing?

[2020-05-15 04:24] kumikokashii commented on #390
@jackcmeyer Hi, may I take this?

[2020-05-17 07:27] kumikokashii commented on #390
PR is ready for your review: https://github.com/HospitalRun/components/pull/424 Thank you 🙂 One of the checks failed. It's from an unrelated place. I tried to fix it but it did not go away...

[2020-05-18 09:47] kumikokashii commented on #322
Hi, may I take this?

[2020-05-18 15:26] hmerzin commented on #322
yes

[2020-05-18 17:02] #390 closed

[2020-05-20 21:31] kumikokashii commented on #322
PR is ready for your review. Thanks! https://github.com/HospitalRun/components/pull/434

[2020-05-21 04:21] vicdurai commented on #324
Hi, can I pick up this issue?

[2020-05-21 08:26] tehKapa commented on #324
@vicdurai ok!

[2020-05-21 20:00] kumikokashii commented on #329
Hi, may I take this?

[2020-05-25 19:10] vicdurai commented on #324
Pull request https://github.com/HospitalRun/components/pull/438 is ready for review. Having some issues with signing the CLA agreement.

[2020-05-27 02:37] #322 closed

[2020-05-28 01:02] jackcmeyer opened #442 "Add ability to style Modal"
## 🚀 Feature Proposal
The `Modal` component needs to be able to be styled using `className` and `style`.

[2020-05-28 03:08] kevinhaube commented on #442
Just took a look at Bootstraps docs and the Modal code -- fairly certain I could handle this!

[2020-05-28 14:34] tehKapa commented on #1
@jackcmeyer @irvelervel @fox1t can we update this list? or close the issue?

[2020-05-28 17:01] kumikokashii commented on #442
@kevinhaube Yes, thank you!

[2020-05-29 01:17] kevinhaube commented on #442
I'll take a shot at this!

[2020-05-29 01:19] kevinhaube commented on #242
I'll take a shot at this!

[2020-05-29 01:54] kevinhaube commented on #242
I solved for the compile time errors, but I noticed when testing that when you apply classes or inline styles to the root component (`InputGroup` from Bootstrap) it only applied some text styling to the `DatePicker`  subcomponent from the react-datepicker library. Is customizing the calendar the functionality you're after, or was this just about the compiler errors?

[2020-05-29 21:27] #442 closed

[2020-05-29 21:55] #242 closed

[2020-05-30 18:53] kevinhaube commented on #47
I’d like to take a crack at this! Do we have styles predefined?

[2020-06-01 01:05] kumikokashii commented on #255
PR is ready for your review https://github.com/HospitalRun/components/pull/449. Thank you!

[2020-06-03 00:50] #255 closed

[2020-06-03 01:18] #47 closed

[2020-06-04 16:16] kumikokashii commented on #329
Updating the Table component is also covered in the ticket https://github.com/HospitalRun/components/issues/411. Closing this ticket.

[2020-06-04 16:16] #329 closed

[2020-06-04 18:16] kumikokashii commented on #330
This is a part of the ticket https://github.com/HospitalRun/components/issues/411. Closing.

[2020-06-04 18:16] #330 closed

[2020-06-05 09:42] #324 closed

[2020-06-09 00:15] kumikokashii opened #456 "Update Navbar Link List to show icon and text, and divider"
## 🚀 Feature Proposal
- Navbar: Link List (and Link List Icon) can display an icon and a text next to each other (icon on left and text on right) as menu items
- Navbar: Link List (and Link List Icon) can display a divider between menu items
- Icon: Make Font Awesome's [bars icon](https://fontawesome.com/icons/bars) available

## Motivation
To improve the hamberger menu on the Mobile Navbar (locat

[2020-06-11 07:42] JDarke commented on #456
I'm happy to take this one.

[2020-06-11 08:22] kumikokashii commented on #456
@JDarke Hello! Thank you!

[2020-06-11 15:32] kumikokashii commented on #411
Hi, a PR is ready for your review. Thank you! https://github.com/HospitalRun/components/pull/455

[2020-06-12 08:11] JDarke commented on #456
Ok, I've been trying to get this running since yesterday afternoon.

I've forked & cloned components, and `npm run dev` compiled successfully, but when I run storybook I get to 95% and get dozens of the following error:

[code]

All the errors have the same format, seemingly finding a mismatch in type where they do in fact match.

Tried redoing everything, same result.

From what I can tell from s

[2020-06-12 14:53] JDarke commented on #456
Well, I managed a temporary fix by adding `"skipLibCheck": true,` to the tsconfig file, so I can make a start now.

[2020-06-12 15:49] fox1t commented on #456
Hi @JDarke I am wondering if you can try to fix the peer dep missing. Can you manually add react to the project? `yarn add react@~16.9.0` and then `rm -rf node_modules && rm yarn.lock && yarn` to see if it still persists?

Speaking of `"skipLibCheck": true` we can promote it and make it default for our projects: it is pointless to check Types validity for 3rd party libs that are not under our own

[2020-06-12 15:51] satishbabariya commented on #32
Hello @fox1t, these three libraries will be helpful for the reference implementation.

Drag and Drop UI for Form Which Generates JSON at the end
[https://github.com/surveyjs/survey-creator](https://github.com/surveyjs/survey-creator)

Form Library that consumes JSON and display form
https://github.com/surveyjs/survey-library

and this one doesn't for creation UI but has JSON to Form implementation

[2020-06-15 15:12] JDarke commented on #456
Thanks for the tip, @fox1t .   That's basically what I was trying, although I'm not using Yarn, so it was with npm, and I'm still learning my way around so I probably made some missteps along the way.

I'll give it another try exactly as you describe, and let you know how it goes.

On that topic;  should I be using Yarn?  I thought I'd get comfortable with npm before switching to anything that wor

[2020-06-15 17:11] JDarke commented on #456
Hi, @kumikokashii ...can I ask you for some clarification on your proposal, please?

Am I correct in thinking that you want the following:

Display a icon next to each link in the nav drop-down menus, and a divider between each item...

![Screen Shot 2020-06-15 at 17 59 18](https://user-images.githubusercontent.com/52716187/84685747-ae8e2c00-af32-11ea-95b7-2fb9c4d733dc.jpg)

...which will also app

[2020-06-15 19:35] kumikokashii commented on #456
@JDarke Hello! Your mock screenshots make me think of the saying, "a picture tells a thousand words" 👏 😊

- Navbar icon next to each other: Yes.

- Navbar divider: Not quite. For example, we'd like a flexibility to make it look like something like this?  Do you think a divider can be thought of as a navbar item type?
[code]
- Bars icon: I think this one needs a bit of clarifying. In the Components

[2020-06-16 11:44] JDarke commented on #456
Hmm.  I see what you mean about the dividers, but I'm not sure how to implement it.

Currently, NavLinkList returns a NavDropdown component with a list of children of type NavListLink, so we could add the dividers in as child NavListLinks as you suggest, but this seems a little clunky as the dividers would be clickable/selectable, just like the links themselves.

The other option is to add another

[2020-06-16 12:28] JDarke commented on #456
Actually, I think we can skip the extra layer...

In Navbar.tsx :

[code]

In interfaces.tsx :

[code]

...and lastly in the navbar.stories.tsx, modify the children of the 'link-list' item to make use of the new boolean prop on the first link of each sub-group:

[code]

Which gives us this result:

![Screen Shot 2020-06-16 at 13 26 10](https://user-images.githubusercontent.com/52716187/84774069-36

[2020-06-16 13:58] kumikokashii commented on #456
@JDarke That sounds nice! It might be more transparent to name it "dividerAbove" since this styling won't be applied to the very first item in the list. Also, we use Bootstrap for styling ([example for border top](https://mdbootstrap.com/docs/react/utilities/borders/)). 🍀

[2020-06-16 14:18] JDarke commented on #456
Ah, fair enough.  I was thinking in terms of a Group being the subcategories of the list, such as the patient links, and then the appointment links, etc., so the divider goes before every entry that is the first of it's subgroup, if that makes sense.

Anyway...happy to do it your way! :)

I shall make it so. 👍

[2020-06-16 15:06] kumikokashii commented on #456
@JDarke Please [submit a PR](https://github.com/HospitalRun/hospitalrun/blob/master/.github/CONTRIBUTING.md#3-submitting-a-pull-request) for your changes and questions?

[2020-06-16 15:58] JDarke commented on #456
Oh...I thought I was supposed to wait until I'd addressed all changes before submitting, but ok, will do!

[2020-06-18 03:30] #411 closed

[2020-06-18 16:11] JDarke commented on #456
Does this require new tests to check if dividerAbove prop renders the list link with the right classes, and/or to test if a list link renders with an icon when the icon prop is passed?

[2020-06-19 23:48] kumikokashii commented on #456
@JDarke Hello! Yes, it would be very preferable to test the new features. Thank you for thinking through the entire process 👍

[2020-06-22 18:02] #456 closed

[2020-06-27 04:56] jackcmeyer opened #487 "Add `Callout` component"
## 🚀 Feature Proposal

Add a component called "Callout" to the component library.

A callout component has the following prop interface:

[code]

## Example
From bootstrap docs:
![image](https://user-images.githubusercontent.com/18731800/85914908-7a571d00-b808-11ea-8a8f-6cd289cc20ec.png)

[2020-06-27 05:20] jackcmeyer opened #488 "Make `Select` component use generics"
## 🚀 Feature Proposal
The select component should be a generic to be take advantage of Typescript.

The expected interface should be:

[code]

[2020-06-27 06:15] nischayv commented on #487
I can take this one!

[2020-06-27 06:19] jackcmeyer commented on #487
assigned to you @nischayv

[2020-06-27 22:22] nischayv commented on #487
@jackcmeyer While Bootstrap does use it in its docs, doesn't look like it officially supports the component. As a result, react-bootstrap doesn't have it either. Do we still want this component? It would involve stripping the styles from the usage in bootstrap docs and we'd have to maintain it ourselves (Potential future design principle changes from bootstrap would affect it and we'd have to chan

[2020-06-27 22:31] jackcmeyer commented on #487
Yeah, I think that we'd still like it. Here is example codepen: https://codepen.io/superjaberwocky/pen/AXdEWj.

I like this example minus the the colored headings.

[2020-06-28 19:41] dylan-kim commented on #488
I'd like to work on this if possible :)

[2020-06-28 21:58] jackcmeyer commented on #488
Sounds good @dylan-kim!

[2020-07-04 19:07] tehKapa opened #499 "'toggle' is missing in props validation"
## 🐛 Bug Report

Some deps must have added or changed some ESLint rules. In addition to creating a lot of warnings, there is an error that blocks any build pipeline: ['toggle' is missing in props validation react/prop-types.](https://github.com/HospitalRun/components/pull/498/checks?check_run_id=835576504#step:6:183)

[2020-07-04 19:34] tehKapa commented on #499
I added this annotation in the [Modal.tsx](https://github.com/HospitalRun/components/blob/master/src/components/Modal/Modal.tsx#L1)

[code]
Is that a rule we need? Otherwise, you can disable it globally with

[code]

[2020-07-04 19:37] tehKapa opened #500 "Type '{ children: string; eventKey: string; }' is not assignable to type 'IntrinsicAttributes & Props'."
## 🐛 Bug Report

Storybook preview build of the latest PRs fail.

[code]

[2020-07-08 02:02] #488 closed

[2020-07-08 02:06] jackcmeyer commented on #500
Closed and related as part of of 1.14.3

[2020-07-08 02:06] #500 closed

[2020-07-08 02:07] jackcmeyer commented on #499
For now, I have made this a warning.

[2020-07-08 02:17] jackcmeyer opened #505 "Add Logout icon"
## 🚀 Feature Proposal
Add an icon called `logout` to the Icon set.

It should use the font awesome sign out icon: https://fontawesome.com/icons/sign-out-alt?style=solid

[2020-07-08 02:29] morrme commented on #505
Hi @jackcmeyer !
Do you just want that entry added [here](https://github.com/HospitalRun/components/blob/7f276261d41b368892f45ed890d1922a9d302e5f/src/components/Icon/Icon.tsx#L31)?

[2020-07-08 21:45] jackcmeyer commented on #505
i think that is exactly the solution!

[2020-07-08 23:26] morrme commented on #505
@jackcmeyer Great! I will take care of it 🙂

[2020-07-09 06:03] #61 closed

[2020-07-09 09:00] Sufyanthomas opened #507 "How Observable call"
import { Component, OnInit, ViewChild, ElementRef, OnDestroy, EventEmitter } from '@angular/core';
import { UserService } from '../user.service';
import { Observable, merge, fromEvent, Subject, BehaviorSubject } from 'rxjs';
import { map } from 'rxjs/internal/operators/map';
import { MatSort } from '@angular/material/sort';
import { MatPaginator } from '@angular/material/paginator';
import { Utils

[2020-07-09 09:07] #507 closed

[2020-07-09 09:08] Sufyanthomas commented on #507
...displayDataChanges   no overload matches this call

[2020-07-09 14:32] #505 closed

[2020-07-13 00:57] jackcmeyer opened #511 "New Patient Icons"
## 🚀 Feature Proposal
Implement new svgs for patient icons:

`patients`: ```<svg height="512pt" viewBox="-1 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg"><path d="m195 130c35.839844 0 65-29.160156 65-65s-29.160156-65-65-65c-35.84375 0-65 29.160156-65 65s29.15625 65 65 65zm0-100c19.296875 0 35 15.699219 35 35s-15.703125 35-35 35c-19.300781 0-35-15.699219-35-35s15.699219-35 35-35zm0 0"

[2020-07-16 00:42] jackcmeyer opened #517 "Select should show all options when opened regardless of filter"
## 🐛 Bug Report

When I use a select component, a user should be able to see all possible options regardless of the filter the have entered.

## To Reproduce

1. Click into a select input and choose an option
2. Click into the select again
3. See that you no longer can see any other options since there is a filter applied

## Expected behavior
1. Click into a select input
2. See the full list of o

[2020-07-16 00:46] jackcmeyer opened #518 "Any NavLink label should be able to be any React component"
## 🚀 Feature Proposal
Right now, NavLink labels can only be a string. They should be able to be any React component to allow for more customization and styling.

## Motivation
Signed in as label in Navbar.

## Technical Notes
[code]

[2020-07-16 06:24] morrme commented on #518
:wave:
I've previously helped out here. Am I eligible to help with another `good first issue` ?
If not (or either way) , if it helps, [here is the line I think needs to be modified. ](https://github.com/HospitalRun/components/blob/5a3d7d0574557acb9e662aa7498f59a46eb42037/src/components/Navbar/interfaces.tsx#L27)

[2020-07-16 12:38] McZenith commented on #511
Hi! I'm interested!

[2020-07-16 12:42] tehKapa commented on #511
Have a good job @McZenith

[2020-07-16 12:59] McZenith commented on #511
Thanks

[2020-07-17 20:20] morrme commented on #518
@tehKapa i meant to tag you in the question as well^

[2020-07-17 21:49] jackcmeyer commented on #518
@morrme you're more than welcome to take this issue! I've assigned you the issue

[2020-07-17 22:14] morrme commented on #518
ok @jackcmeyer I've made the change. I don't see any tests that need to be modified.  Should one be added?

[2020-07-18 00:25] jackcmeyer commented on #518
@morrme Probably a good idea to add tests if they are missing

[2020-07-23 07:25] #518 closed

[2020-07-23 18:55] CreativeCreate commented on #517
Hello there, I would like to take on this. Otherwise, you can find directions to fix this issue here https://stackoverflow.com/questions/50348520/how-to-display-all-options-in-react-bootstrap-typeahead-menu-with-existing-selec
Thank you.

[2020-07-26 07:43] ChillarAnand commented on #4
Looks like this is an old issue. Any updates on this?

[2020-07-26 22:12] jackcmeyer commented on #517
@CreativeCreate I have assigned this to you!

[2020-07-26 22:56] CreativeCreate commented on #517
Thanks, I'm on it.
Question - should I update the appropriate .test file to reflect changes as well? (sorry I couldn't find any guideline on this).

[2020-07-26 23:16] jackcmeyer commented on #517
@CreativeCreate yes, if the changes are observable through a test then it would be good to test it.

[2020-07-27 00:43] CreativeCreate commented on #517
Got it. Thanks.

[2020-07-28 11:18] tehKapa opened #531 "Add markdown support on homepages of Storybook"
## 🚀 Feature Proposal

We need to add markdown support in order to customize the introductory pages of Storybook.

## Motivation

Currently Storybook seems to be too difficult to understand. So it would be nice to be able to take some parts of the README.md or the CONTRIBUTING.md to improve the readability of this tool.

## Example

Some useful examples [here](https://storybook.js.org/docs/example

[2020-07-28 11:19] tehKapa commented on #531
Addon that could be useful https://github.com/storybookjs/storybook/tree/master/addons/docs

[2020-07-30 02:19] McZenith commented on #511
I need help, I am trying to define a new icon definition and feed it in into font awesome through library.add(ICON_NAME) while it worked for fas it does not work for an outline. Is there possibly a better workaround for this? @tehKapa @jackcmeyer

[2020-08-02 05:38] morrme commented on #531
@tehKapa 👋  Do you have a preference between the two addons you linked above (addons-docs and storybook-readme)?

[2020-08-02 09:53] #517 closed

[2020-08-02 09:56] tehKapa commented on #511
@HospitalRun/core-contributor can someone help @McZenith?

[2020-08-02 10:11] McZenith commented on #511
No problem. I would have loved to implement it but I haven't really found helpful information online about it...

However, If I can maybe get some hint, I am sure I can implement it.

[2020-08-03 19:17] dgarwin commented on #531
Hello!

I'm new here and was looking to give this issue a shot.

To confirm, this issue doesn't suggest/request addons-docs **and** storybook-readme are added, just one of them, correct?

Let me know if there's anything else I need to do before working on this issue!

[2020-08-04 07:56] tehKapa commented on #531
Hi @dgarwin, exactly. from what I've seen, they're complementary

[2020-08-04 09:36] fox1t commented on #531
Hi @dgarwin, I can assign this issue to you if you want.

I suggest using https://github.com/storybookjs/storybook/tree/master/addons/docs since it seems more used and active!

[2020-08-04 11:49] dgarwin commented on #531
Yes please assign this to me! @fox1t I agree, I too was leaning towards Storybook Docs.

[2020-08-06 08:44] lloui-donut commented on #278
Hello, the problem was

In mention of that the whole free solid ivg icons library was being imported, its because in this block of code, [See Here](https://github.com/HospitalRun/components/blob/master/src/index.tsx#L2-L8), it imports the whole library as **fas** and it also imports whole free regular svg icons library as **far**.

I think the commits of @ocBruno may have fixed this issue, which h

[2020-08-06 14:02] tehKapa commented on #278
@lloui-donut which commit do you refer to?

[2020-08-06 22:28] lloui-donut commented on #278
[@ocBruno 's commit](https://github.com/ocBruno/components/commit/183f6d9ddb911763d83c3d3845b7c3a9af1ad9b6) on the FontAwesomeIcons.ts

[2020-08-07 07:41] tehKapa commented on #278
seems to be a commit that was never merged into the main repo...

[2020-08-13 04:34] jackcmeyer opened #548 "Provide callbacks for filter/search capabilities on on table column"
## 🚀 Feature Proposal
There should be the ability to filter/search for data by column. The Table component will not actually be responsible for doing the filtering, but rather expose callback such as `onFilterChange` that will include all filter criteria being currently applied to the table.

When a filter is chosen, there should be a badge or label that gets added above the table that indicates t

[2020-08-13 04:38] jackcmeyer opened #549 "Table component should use generics"
## 🐛 Bug Report
Currently, the table component does not properly use generics. It creates a type `T` that makes it seem like it accepts generics, but it does not.

This issue is to make the table understand generics. Everywhere type `T` is, we should replace it with a generic.

See `Select.tsx` for examples of generics.

[2020-08-13 05:04] #487 closed

[2020-08-15 01:48] toniton commented on #32
Hi guys, I'm a bit late to the party, but I think [https://react-hook-form.com/](https://react-hook-form.com/) is a much better library than Formik IMO. It was built on react hooks concept, and pretty intuitive to implement.
Does anyone know how much work has been done? As I would like to contribute to this issue.

[2020-08-20 23:11] rsousaj commented on #549
Hey guys, can I try this one as well ?

[2020-08-21 06:13] morrme commented on #549
@rsousaj Sure!

[2020-08-23 17:36] dgarwin commented on #531
Hey! So I've been working on this issue recently and I'm having issues with having doc pages automatically appear.

Is there something non-standard that we're doing in terms of configuration?

Also, is there any aversion or current initiative to update to Storybook v6.0?

[2020-08-25 07:34] fox1t commented on #531
Can you make an example of the issue you are having? As far as I know, we used it in a "standard" way.

Speaking of the update to 6.0, if you like you can update it. We will surely keep it up to date.

[2020-08-27 17:20] cjkarande commented on #4
Hi @fox1t  and @jackcmeyer, any proposed plan for integrating OHIF-Viewer with HospitalRun?

[2020-08-28 00:44] jackcmeyer opened #569 "Callout css does not work when importing to frontend"
## 🐛 Bug Report
When trying to use the Callout component in the @hospitalrun/frontend, the CSS does not work.

## To Reproduce

Steps to reproduce the behavior:
1. Import Callout component to some component
2. Try and use the info, danger, or warning color
3. See that it is not styled properly

[2020-08-28 14:40] DouglasDev commented on #254
I would like to start contributing to this project. I'm an experienced React developer and have worked with many of the libraries that you're using. Can I be assigned this as my first issue? Thanks.

[2020-08-28 14:59] fox1t opened #571 "Basic authentication prompt"
## 🐛 Bug Report

When a user is logged out (with cleared browser cache) and goes to the index, it is prompted both with basic authentication dialog from the browser before the redirect to the login screen from the app.
<img width="2552" alt="image" src="https://user-images.githubusercontent.com/1620916/91582184-be24ea80-e94f-11ea-8f8b-8832cb6b2dbc.png">

## To Reproduce
Logout, clear the browser c

[2020-08-28 16:16] fox1t commented on #4
@cjkarande unfortunately, not yet! :(

[2020-08-28 17:18] DouglasDev commented on #254
I ran both the front end repo and storybook locally. I found that on the front end repo, when I add a new patient, it shows a green toaster (which I think is correct?) whereas storybook shows a dark blue/grey success toaster. So they don't seem to match, but it seems that storybook is showing the wrong theme. Can somebody clarify? Thanks.

[2020-08-28 17:19] DouglasDev commented on #571
I would like to have a go at this.

[2020-08-28 17:19] fox1t commented on #254
Nice finding! Can you include the screenshot of both of them here?

[2020-08-28 17:20] fox1t commented on #571
Yours!

[2020-08-28 17:25] DouglasDev commented on #254
<img width="642" alt="Screen Shot 2020-08-28 at 1 22 46 PM" src="https://user-images.githubusercontent.com/25951701/91595661-e9004600-e931-11ea-9f52-5d7487303161.png">
<img width="820" alt="Screen Shot 2020-08-28 at 1 23 06 PM" src="https://user-images.githubusercontent.com/25951701/91595663-e998dc80-e931-11ea-8f7c-5adac8d3d6c3.png">

[2020-08-28 17:26] DouglasDev commented on #254
It may be worth taking a look at all of the toasters in storybook. I suspect a few of them may have the wrong colors.

[2020-08-28 17:41] DouglasDev commented on #571
@fox1t I tried my best, but I cannot reproduce the issue. I'm using the latest version of Chrome on Mac. I logged into the local version on localhost:3000 using the default user 'username'. I then clicked 'logout', cleared my browser's cache and cookies, and then navigated to localhost:3000. I was immediately redirected to the login page without seeing the browser authentication pop up. Did I miss

[2020-08-28 17:52] DouglasDev commented on #254
It seems that for many (all?) components in storybook, the 'default' color is bright green and the 'success' color is dark blue/grey. Perhaps the two are reversed?

[2020-08-28 17:53] DouglasDev commented on #254
Also, I noticed that the "Design Choices" section of storybook is empty. Is there a place where we can see what the correct designs are?

[2020-08-28 17:53] fox1t commented on #571
I don't think so. Can you try a different browser? Have you any chance to install Firefox?

[2020-08-28 17:59] DouglasDev commented on #571
Yes I tested in Firefox and it also worked correctly. Could it be that this is caused by your computer being configured in a certain way? For example is your account lacking admin privileges? Might you have certain extra security settings enabled that are causing the system to show the extra dialogue? Are you able to reproduce this issue on other computers?

[2020-08-28 18:05] fox1t commented on #571
This issue was present some time ago and then suddenly disappeared. Now it is back but it seems only for me :)

Nothing special on my Macbook, by the way. I'll leave this issue open for a couple of days. After that period of time I am going to close it if no one reports it again.

[2020-08-28 18:07] DouglasDev commented on #571
@fox1t Just to make sure, I would like to test on staging.hospitalrun.io. How can I get the login credentials?

[2020-08-28 19:56] fox1t commented on #571
username: username
password: password

[2020-08-28 19:59] DouglasDev commented on #571
There seems to be an issue with authentication:

<img width="1164" alt="Screen Shot 2020-08-28 at 3 58 51 PM" src="https://user-images.githubusercontent.com/25951701/91610533-6b473500-e947-11ea-8685-5bb57db8eaa0.png">

[2020-08-28 20:13] DouglasDev commented on #569
I would like to try solving this, but I'm not exactly sure how to test it. Since the front end and component libraries are separate repos, how can I test what effect the changes to the component library have on the front end? This seems tricky since they are running on completely separate dev servers.

At first glance, it seems that the SCSS isn't being imported or compiled correctly in the build

[2020-08-29 15:15] jackcmeyer commented on #254
@DouglasDev the expected colors are the colors from the toasts found in the storybook. The frontend colors are not correct.

[2020-08-29 15:24] jackcmeyer commented on #569
Checkout the `npm link` command. You can use this to link a local build of the components repo to your hospitalrun-frontend project.

[2020-08-29 20:10] DouglasDev commented on #569
@jackcmeyer One other question: this is the first project I've worked on where the components and main front end codebase are separate repos. Is it possible to enable live reloading between repos? Meaning that if I change a component in the component repo, the front end updates that component immediately? Or do I need to rebuild the project and relink it every time there is a change? Thanks.

[2020-08-29 20:26] DouglasDev commented on #571
@fox1t So I actually was able to reproduce this issue by changing the api url in shared/config/pouchdb.ts from `${process.env.REACT_APP_HOSPITALRUN_API}/hospitalrun` to https://couchdb.run.hospital so I'm connecting to the staging database from my local machine. When I do this, I see the browser pop up appear repeatedly. However, the issue I'm seeing is maybe slightly different than the one you re

[2020-08-29 21:09] jackcmeyer commented on #569
Once you link it, every time you rebuild it should pick up the changes. You should be able to run the components repo in watch mode, so I think you should get a near live reload experience. I believe the only thing you'd need to do is restart frontend repo.

[2020-08-31 16:56] fox1t commented on #571
@blestab, it is safe to assume that it nginx that is adding a hader.
@tehKapa can you double check this?

[2020-08-31 20:11] tehKapa commented on #571
Yes, I also have a similar problem locally. I had to specify `https://couchdb.run.hospital**/hospitalrun**` as env var

[2020-09-06 16:38] dgarwin commented on #531
@fox1t Sorry I never got back to you. Addon-docs just flat out wasn't working, so it ended up being easier for me to do a full rewrite of our configuration when upgrading to Storybook 6. Now, our .storybook folder mirrors what Storybook's current documentation suggests, so updating it should be easier in the future if we need to!

[2020-09-07 13:27] #531 closed

[2020-09-07 13:27] fox1t commented on #531
@dgarwin merged!

[2020-09-08 02:29] DouglasDev commented on #569
@jackcmeyer I finally figured out how to link the two repos. It was not straight-forward and involved several steps. Perhaps we should add some instructions to the readme? In case anyone is wondering these were the steps:

1. cd to the components repo and run `npm link`
2. cd to the front end repo and run `npm link @hospitalrun/components`
3. run `npm i` in the front end repo and restart the dev s

[2020-09-08 09:48] fox1t commented on #569
`"@hospitalrun/components"` is supposed to work in the workspaces environment. We are waiting for npm v7 to test `npm workspaces`. As of today, we are using yarn v1 workspaces but they are broken at the moment.
Your findings are awesome and we should take them as a starting point. Would you like to work on a PR that explores how to fix workspaces? There are 3 possible candidates: `yarn v2 workspac

[2020-09-08 13:36] DouglasDev commented on #254
@jackcmeyer I think this was fixed with this pull request: https://github.com/HospitalRun/components/pull/581

[2020-09-08 13:38] DouglasDev commented on #569
@fox1t Yes I can take a look at that over the weekend.

[2020-09-08 23:42] jackcmeyer opened #583 "v2.0.1 fails build of @hospitalrun/frontend"
When using @hospitalrun/components v2.0.1 in @hospitalrun/frontend, the build fails.

## 🐛 Bug Report
https://github.com/HospitalRun/hospitalrun-frontend/runs/1088553167

## Expected behavior

The build should not fail.

## Technical Notes
Caused by #581

[2020-09-09 00:12] DouglasDev commented on #583
@jackcmeyer Perhaps the SCSS should all be moved to the scss folder? Then we wouldn't need to reference the src folder when importing.

[2020-09-10 05:11] #571 closed

[2020-09-10 15:53] blestab opened #586 "Modal Dialog Form: UX improvements relating to closing of component"
## 🚀 Feature Proposal

When in a Modal Dialog Form with unsaved changes:

1. When the user wants to close the modal dialog (either via the x button, the close button or when they click outside of the modal):
     - Prompt user with a confirmation message e.g. "Are you sure you want to exit without saving changes?".
     - If the user chooses _Yes_, then close the modal form, if they choose _No_, d

[2020-09-13 05:31] CreativeCreate commented on #583
Can I pick this with the following questions? Please bear with me if am asking the obvious here. I am just getting to know the @hospitalrun codebase.

Current npm package - @hospitalrun/components - ships raw *.scss files. 

1. Assuming the components only get modified via props, is there a need for .scss files in the front-end other than the _variables.scss? I could not trace any ties in the fron

[2020-09-14 10:11] fox1t commented on #583
@CreativeCreate Go for it! I think this is the best possible fix at the moment!

I really like what you've written. Your assumptions are correct!

[2020-09-14 23:58] CreativeCreate commented on #583
Please note: now that there's no need for .scss references in the front-end, the main.scss reference in the front-end must be removed as follows.

[code]

Not sure whether I should make a pull-request for the above front-end changes w/o getting assigned?
Should I? 

[2020-09-15 02:15] #254 closed

[2020-09-15 02:15] #569 closed

[2020-09-15 04:07] #583 closed

[2020-09-15 15:15] tehKapa opened #594 "Add Integration Testing during build pipeline"
## 🚀 Feature Proposal

Add the integration test during build pipeline to test "a real use" of components. We should clone frontend repository and install/import the latest build commit.

## Motivation

Avoid components incompatibility with frontend

[2020-09-23 02:21] #586 closed

[2020-10-18 15:11] #549 closed

[2020-10-18 18:43] RobertoMSousa commented on #238
👋 , I can take care of this. I can give a look on the addons we have and can get updated and install some new ones.
Especially the accessibility one because on a health-related website the accessibility should be a must.

[2020-10-18 21:21] tehKapa commented on #238
@RobertoMSousa good work and thanks!

[2020-10-24 22:33] RobertoMSousa commented on #238
### List of components that need to be updated

- [ ] Alert
- [ ] Badge
- [ ] Breadcrumb
- [ ] Button
- [ ] Calendar
- [ ] Callout
- [ ] Checkbox
- [ ] DateTimePicker
- [ ] DropDown
- [ ] Graph
- [ ] Icon
- [ ] Image
- [ ] Label
- [ ] Layout
- [ ] List
- [ ] Modal
- [ ] NavBar
- [ ] Panel
- [ ] Pill
- [ ] Radio
- [ ] RichText
- [ ] Select
- [ ] Spinner
- [ ] Switch
- [ ] Tab
- [ ] Table
- [ ] Text

[2020-11-04 18:31] jnolan97 commented on #548
Hey everyone. Just wondering if this still needs help? If so I would love to contribute. Thanks.

[2020-11-06 20:15] tehKapa commented on #548
Sure @jnolan97! Shall I give it to you?

[2020-11-07 02:47] jnolan97 commented on #548
Sure that would be great!

[2020-11-08 17:09] cpondoc commented on #511
Hey @jackcmeyer ! I would love to try out this task!

[2020-11-11 19:49] tehKapa commented on #511
wish you a good job @cpondoc

[2020-12-02 20:22] ChrisDryden commented on #278
A group of students from a university course was hoping to take this on for an open-source assignment, could we take this on?

[2020-12-05 00:51] cpondoc commented on #4
Hi, @fox1t @tehKapa @jackcmeyer -- would love to take this on!

[2020-12-09 18:06] gcrt0701 commented on #548
Hi @blestab @fox1t @tehKapa @jackcmeyer @morrme, could I please take this on?

[2020-12-10 17:03] tehKapa commented on #548
@jnolan97 have you done anything yet? @gcrt0701, I'll wait for @jnolan97 feedback. Eventually, it can assign to you

[2020-12-14 15:24] jnolan97 commented on #548
@tehKapa yeah I almost have it done. Sorry I didnt respond sooner. Thanks.

[2020-12-15 22:48] jackcmeyer opened #664 "Upgrade to React 17.0.x"
## 🚀 Feature Proposal
Upgrade components library to react 17.0.x

[2020-12-18 20:30] cpondoc commented on #32
Hi, @blestab @fox1t @tehKapa @jackcmeyer -- would love to take this on if no one is working on it!

[2020-12-22 18:32] blestab opened #667 "Add Billing and Inventory icons"
## 🚀 Feature Proposal

We need billing and inventory modules icons.

## Motivation

With the implementation of the basic billing and inventory modules, there is a need for icons for these modules for the menu/navbars.

## Proposed

### Billing
- https://fontawesome.com/icons/hand-holding-usd?style=solid
- https://fontawesome.com/icons/file-invoice-dollar?style=solid
- https://fontawesome.com/icons

[2020-12-23 09:05] StefanoMiC commented on #667
I would probably go with:
https://fontawesome.com/icons/file-invoice-dollar?style=solid for Billing
and https://fontawesome.com/icons/boxes?style=light for Inventory

[2020-12-23 09:12] blestab commented on #667
Awesome!,  thanks @StefanoMiC I'll go ahead and split these into two issues.

[2020-12-23 09:19] blestab opened #668 "Add a billing icon"
## 🚀 Feature Proposal

We need billing and inventory modules icons.
NOTE: This issue is for the billing icon.

## Motivation

With the implementation of the basic billing and inventory modules, there is a need for icons for these modules for the menu/navbars.

## Icon Details

Use this font awesome icon: https://fontawesome.com/icons/file-invoice-dollar?style=solid
Call the icon `billing`

## Exam

[2020-12-23 09:22] blestab opened #669 "Add an inventory icon"
## 🚀 Feature Proposal

We need billing and inventory modules icons.
NOTE: This issue is for the inventory icon.

## Motivation

With the implementation of the basic billing and inventory modules, there is a need for icons for these modules for the menu/navbars.

## Icon Details

Use this font awesome icon: https://fontawesome.com/icons/boxes?style=light
Call the icon `inventory`

## Example
See th

[2020-12-23 18:41] cpondoc commented on #668
Hi, @blestab @fox1t @tehKapa @jackcmeyer -- would love to take this on if no one is working on it!

[2020-12-23 18:41] cpondoc commented on #669
Hi, @blestab @fox1t @tehKapa @jackcmeyer -- would love to take this on if no one is working on it!

[2020-12-24 09:21] blestab commented on #668
Thanks @cpondoc, all yours.

[2020-12-24 09:22] blestab commented on #669
Thanks @cpondoc , I have given you the billing icon one. Lets finish that one first, in case someone else might want to try this one. If we still get no takers after you are done with the billing request, we will then go ahead and put this on your name too.

[2020-12-24 21:37] cpondoc commented on #669
Sounds good @blestab! I was just able to finish up that PR. Thanks!

[2020-12-25 10:02] blestab commented on #669
Awesome! I have added this one onto your name.

[2020-12-25 21:57] cpondoc commented on #669
Thanks, @blestab! I'll be working on this in the next day or two.

As a side note: I noticed that in the Storybook story for all of the icons, there wasn't a span for the "up-arrow." Can I include that revision as part of this work? Thanks!

[2020-12-26 11:27] blestab commented on #669
Hi, let's rather log a separate issue for that.

[2020-12-26 15:52] cpondoc commented on #669
Sweet! I'll make sure to do that. Thanks, @blestab!

[2020-12-26 22:25] #668 closed

[2020-12-28 15:24] #669 closed

[2020-12-28 15:24] #511 closed

[2020-12-28 16:30] #667 closed

[2020-12-29 03:16] DrewGregory commented on #4
@fox1t  @blestab @jackcmeyer @mmorme Do we feel that starting with OHIF-Viewer is a good step? If so, I or @anthonyaperez would love to take this on.

[2020-12-30 13:23] tehKapa commented on #4
as far as I know, no code has been written yet. only r&d activities. you can work on it. @fox1t thoughts on that?

[2021-01-02 04:54] cpondoc opened #676 "Add tests and Storybook components for arrow icons"
# 🚀  Feature Proposal

Add tests and Storybook components for arrow icons

## Motivation

When finishing tasks related to the icons, I realized that there the 'up' and 'down' arrow icons were not included in the Storybook view. In addition, the Jest tests do not check the functionality of the 'up' and 'down' arrow icons.

## Fix

Go into the files for the icons, Storybook page for the icons, and t

[2021-01-02 04:55] cpondoc commented on #676
Hi, @blestab @fox1t @tehKapa @jackcmeyer -- I'd be happy to take it on and finish the job!

[2021-01-02 12:38] blestab commented on #676
Sure thing @cpondoc, thank you

[2021-01-06 03:26] #676 closed

[2021-01-15 07:48] riiniii commented on #664
@jackcmeyer could i take this one?

[2021-01-15 08:40] tehKapa commented on #664
Ok @riiniii

[2021-01-15 14:16] riiniii commented on #664
@tehKapa is it ok to place this one on hold?

reason:
need to wait for tsdx to support typescript version 4 for this reason:
https://github.com/formium/tsdx/issues/926#issuecomment-723495537

error:
`config error TS6046: Argument for '--jsx' option must be: 'preserve', 'react-native', 'react'.`

but we need to use --jsx to 'react-jsx' for react 17, and their workaround in the thread does not work

[2021-01-15 14:51] riiniii commented on #664
alternatively, maybe if we don't even want to introduce [jsx transform](https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html), then i can just update react versions in package.json without any other additional changes

[2021-01-16 19:07] tehKapa commented on #664
@jackcmeyer @blestab any clue?

[2021-01-18 08:54] blestab commented on #664
Thanks @riiniii
For the quoted error above, may you see if suggestions from this SO thread might work for you (assuming you have not already come across it)? https://stackoverflow.com/questions/50432556/cannot-use-jsx-unless-the-jsx-flag-is-provided

[2021-01-24 14:01] riiniii commented on #664
hi @blestab, thank u for the suggestion. i tried that, but realized that I couldnt use 'preserve', 'react-native', or 'react' with typescript + react 17 transform.

my findings were that for JSX Tranform and typescript to work together, tsconfig.compilerOptions.jsx [needs to be 'react-jsx' or 'react-jsxdev'](https://devblogs.microsoft.com/typescript/announcing-typescript-4-1/#jsx-factories)

so ge

[2021-01-24 14:08] riiniii commented on #664
this thread on how CRA implements React 17 + JSX Transform summarizes my findings / changes well
https://gist.github.com/iansu/4fab7a9bfa5fa6ebc87a908c62f5340b

[2021-02-02 13:04] blestab opened #689 "Select - add the ability to display error messages"
Add the ability to display messages beneath the Select component

## 🚀 Feature Proposal

Add the ability to display messages e.g. beneath the Select component, like how the TextInput does. See this discussion: https://github.com/HospitalRun/hospitalrun-frontend/pull/2559#issuecomment-770164991

## Motivation

There is a need to be able to display messages (error or help) beneath the component
Upda

[2021-02-02 13:10] SamuelQZQ commented on #689
Hey @blestab, you can assign this to me.

[2021-02-04 22:07] #689 closed

[2021-02-09 18:40] morrme commented on #548
@jnolan97 Just checking in: How is this one going?

[2021-11-15 00:27] henryliang2 commented on #548
@tehKapa @jackcmeyer Hi, I saw this issue has been here for over a year without much progress. I'm very green with TS and new to open source dev in general, but could I take this on?

I played around with it. Is this kind of what we're after?  (the styling and positioning needs adjustment obviously. I'll probably move it above the table. Oh and this is a button, I'll use a badge.)

https://user-im

[2021-11-15 09:16] matteovivona commented on #548
@henryliang2 Sure!

[2021-11-21 04:13] henryliang2 commented on #548
Hi @tehKapa , is there a consideration to upgrade the version of `react-bootstrap` ? The one listed in `package.json` is `~1.0.0-beta.16` while the current release version is `2.0.0`. I believe this may be affecting the rendering of some components as, if you look in Storybook, the `Badge` component (and the `Pill` component which relies on `Badge`) is not rendering correctly. The requirements wri

[2021-11-21 11:23] matteovivona commented on #548
@henryliang2 unfortunately there are some tasks to do. as you can see the update creates problems https://github.com/HospitalRun/components/pull/896

[2021-12-13 06:12] henryliang2 commented on #548
Hi @tehKapa , I see, thanks. I'll make do with a button for now.

Do I need to be added as a contributor? Can't seem to push a commit on a new branch.

[2021-12-13 08:11] matteovivona commented on #548
no, you simply have to create a new PR/branch with the updated dependency

[2022-01-15 00:55] ghost commented on #278
@ocBruno I'd like to work on this issue

[2022-05-10 16:28] Hmgov commented on #1
![IMG_20220502_112211](https://user-images.githubusercontent.com/89657084/167677133-bd4d79bf-fe38-46a6-bc5e-75f875b36da0.jpg)
the master plane would world war ll deploments 1700 bilian deploment hosted access data